@media only screen and (min-width:480px) and (max-width:767px)
{
	
/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/

	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .theme-main
	{
		width:460px;
	}

/******************************************************************************/
/*	Main						                                              */
/******************************************************************************/

.theme-main,
.pb .pb-main,
.pb .pb-layout.pb-main
{
	width:460px;
}

/******************************************************************************/
/*	Image carousel				                                              */
/******************************************************************************/

						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>span,
						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>a>span
						{
							padding:20px;
							border-width:2px;
						}

}