@media only screen and (min-width:768px) and (max-width:959px)
{
	
/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/


	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .theme-main
	{
		width:300px;
	}
	
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .theme-main
	{
		width:420px;
	}
	
/******************************************************************************/
/*	Main						                                              */
/******************************************************************************/

.theme-main,
.pb .pb-main,
.pb .pb-layout.pb-main
{
	width:750px;
}

/******************************************************************************/
/*	Image carousel				                                              */
/******************************************************************************/

						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>span,
						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>a>span
						{
							padding:30px;
							border-width:4px;
						}


}