@media only screen and (max-width:479px)
{
	
/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/

	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .theme-main
	{
		width:300px;
	}
	
/******************************************************************************/
/*	Main						                                              */
/******************************************************************************/

.theme-main,
.pb .pb-main,
.pb .pb-layout.pb-main
{
	width:300px;
}

/******************************************************************************/
/*	Image carousel				                                              */
/******************************************************************************/

						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>span,
						.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>a>span
						{
							padding:10px;
							border-width:2px;
						}

/******************************************************************************/
/* Header																	  */
/******************************************************************************/

.theme-header
{
	display:none;
}

/******************************************************************************/
/* Blog																	      */
/******************************************************************************/

	/**************************************************************************/
	/* Post	/ Section													      */
	/**************************************************************************/

	.theme-post .theme-post-section-top
	{
		
	}
	
	.theme-post .theme-post-section-bottom
	{
		margin-top:10px;
	}
	
		.theme-post .theme-post-section-bottom-left
		{
			float:none;
			width:100%;
			margin-bottom:25px;
		}

		.theme-post .theme-post-section-bottom-right
		{
			margin-left:0px;
		}

/******************************************************************************/
/*	Comments / Comments list												  */
/******************************************************************************/

		#comments_list>ul>li .theme-comment-meta,
		#comments_list>ul>li .theme-comment-content
		{
			margin-left:0px;
		}
		
		#comments_list>ul>li .theme-comment-avatar
		{
			display:none;
		}
		

}