@media only screen and (min-width:0px) and (max-width:767px)
{
	body
	{
		overflow-x:hidden;
	}

/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/

	.theme-page-sidebar-enable>.theme-column-left,
	.theme-page-sidebar-enable>.theme-column-right
	{
		clear:both;
		float:none;
	}
	
	.theme-page-sidebar-enable>.theme-column-left
	{
		margin-bottom:50px;
	}

}