/*
Theme Name: Atrium
Theme URI: http://themeforest.net/item/atrium-responsive-one-page-wordpress-theme/7636859?ref=quanticalabs
Description: Atrium is a responsive corporate WordPress Theme suitable for business or corporate related projects. The Theme is maintained in a minimalist style with strong color accents. It has a responsive layout that looks great on mobile devices. The Theme comes with tons of options so you can modify layout, colors, fonts with ease. With build-in Theme Demo Data Installer you can import complete set of our Theme Demo - pages, posts, widgets with just single click.
Version: 2.4
Author: QuanticaLabs
Author URI: http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready, holiday
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: atrium
*/

/******************************************************************************/
/*  Reset styles															  */
/******************************************************************************/

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video 
{
	border:0px;
    margin:0px;
    padding:0px;
	font-size:100%;
    vertical-align:baseline;
}

/******************************************************************************/
/*  Default styles															  */
/******************************************************************************/

body
{
	margin:0px;
	padding:0px;
}

*:focus  
{  
    outline: none;  
} 

*
{
	line-height:150%;
    box-sizing:border-box;
}

img
{
	max-width:100%;
	height:auto;
}

.fancybox-overlay
{
	z-index:10000;
}

p
{
	padding:10px 0px 10px 0px;
}

ol
{
	margin-left:20px;
}

ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

ul>li>ul,ol>li>ol
{
	margin-left:20px;
}

ul>li
{
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:left 5px;
	background-image:url('media/image/public/icon_bullet/default/bullet_1.png');
}

.theme-footer ul>li
{
	background-image:url('media/image/public/icon_bullet/footer/bullet_1.png');
}

ul.theme-reset-list
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

ul.theme-reset-list>li
{
	padding:0px;
	background-image:none;
}

.theme-clear-fix:after 
{
	height:0;
	clear:both;
	content:" ";
	font-size:0;
	min-height:0;
	display:block;
	visibility:hidden;
}

* html .theme-clear-fix				{ zoom: 1; } 
*:first-child+html .theme-clear-fix	{ zoom: 1; }

/******************************************************************************/
/*	Responsive column			                                              */
/******************************************************************************/

.theme-responsive-column-a
{
	clear:both !important;
	width:100% !important;
	float:none !important;
	margin-bottom:30px !important;
}

/******************************************************************************/
/* Form default style														  */
/******************************************************************************/

input,
select,
textarea,
label.pb-infield-label,
label.theme-infield-label
{
	width:100%;
	padding:10px;
	border-radius:0;
	-moz-box-sizing:border-box;
}

input,
textarea
{
	box-sizing:border-box;
	-webkit-appearance:none;
}

label.pb-infield-label,
label.theme-infield-label
{
	cursor:text;
	position:absolute;
}

 select,
 textarea,
 input[type="text"],
 input[type="submit"],
 input[type="button"],
 input[type="password"]
{
	margin:0px;
	border-width:1px;
	border-style:solid;	
}

 select,
 input[type="button"],
 input[type="submit"]
{
	cursor:pointer;
}

 textarea
{
	resize:none;
	display:block;
	min-height:100px;
}

/******************************************************************************/
/*	Fancybox																  */
/******************************************************************************/

.fancybox-skin,
#fancybox-buttons ul
{
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;	
}

.fancybox-skin
{
	background:#FFFFFF;
}

#fancybox-buttons
{
	z-index:99999;
}

#fancybox-buttons ul
{
	width:161px;
	border:none;
	box-shadow:none;
	background:rgba(0,0,0,0.5);
}

#fancybox-buttons a.btnNext,
#fancybox-buttons a.btnClose,
#fancybox-buttons a.btnToggle
{
	border:none;
}

#fancybox-buttons li
{
	background-image:none;
}

/******************************************************************************/
/*	Layouts																	  */
/******************************************************************************/

.theme-layout
{
	margin:0px;
	padding:0px;
	list-style:none;
}

	.theme-layout-100>.theme-layout-column-left,
	.theme-layout-50x50>.theme-layout-column-left,
	.theme-layout-50x50>.theme-layout-column-right,	
	.theme-layout-33x33x33>.theme-layout-column-left,
	.theme-layout-33x33x33>.theme-layout-column-right,
	.theme-layout-33x33x33>.theme-layout-column-center,
	.theme-layout-25x25x25x25>.theme-layout-column-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-right,
	.theme-layout-25x25x25x25>.theme-layout-column-right,
	.theme-layout-66x33>.theme-layout-column-left,
	.theme-layout-66x33>.theme-layout-column-right,
	.theme-layout-33x66>.theme-layout-column-left,
	.theme-layout-33x66>.theme-layout-column-right,
	.theme-layout-75x25>.theme-layout-column-left,
	.theme-layout-75x25>.theme-layout-column-right,
	.theme-layout-25x75>.theme-layout-column-left,
	.theme-layout-25x75>.theme-layout-column-right
	{
		
	}

	/**************************************************************************/
	/*	Layout 100 (in percentage)											  */
	/**************************************************************************/
	
	.theme-layout-100	{}

	.theme-layout-100>.theme-layout-column-left 
	{ 
		width:100%;
		clear:both;
		float:left; 
	}

	/**************************************************************************/
	/*	Layout 50x50 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-50x50 {}

	.theme-layout-50x50>.theme-layout-column-left 
	{ 
		clear:both;
		float:left; 
	}

	.theme-layout-50x50>.theme-layout-column-right 
	{ 
		float:right; 
	}

	.theme-layout-50x50>.theme-layout-column-left,
	.theme-layout-50x50>.theme-layout-column-right
	{ 
		width:48.4375%;
	}	

	/**************************************************************************/
	/*	Layout 33x33x33 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-33x33x33 {}

	.theme-layout-33x33x33>.theme-layout-column-left 
	{ 
		clear:both;
	}
	
	.theme-layout-33x33x33>.theme-layout-column-left,
	.theme-layout-33x33x33>.theme-layout-column-center
	{
		float:left; 
		margin-right:3.125%;
	}

	.theme-layout-33x33x33>.theme-layout-column-right
	{ 
		float:right; 
	}

	.theme-layout-33x33x33>.theme-layout-column-left,
	.theme-layout-33x33x33>.theme-layout-column-right,
	.theme-layout-33x33x33>.theme-layout-column-center
	{ 
		width:31.25%;
	}
	
	/**************************************************************************/
	/*	Layout 25x25x25x25 (in percentage)									  */
	/**************************************************************************/
	
	.theme-layout-25x25x25x25 {}

	.theme-layout-25x25x25x25>.theme-layout-column-left 
	{ 
		clear:both;
	}
	
	.theme-layout-25x25x25x25>.theme-layout-column-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-right
	{
		float:left; 
		margin-right:3.125%;
	}

	.theme-layout-25x25x25x25>.theme-layout-column-right 
	{ 
		float:right; 
	}

	.theme-layout-25x25x25x25>.theme-layout-column-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-left,
	.theme-layout-25x25x25x25>.theme-layout-column-center-right,
	.theme-layout-25x25x25x25>.theme-layout-column-right
	{ 
		width:22.65625%;
	}
	
	/**************************************************************************/
	/*	Layout 66x33 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-66x33 {}

	.theme-layout-66x33>.theme-layout-column-left 
	{ 
		clear:both;
		float:left; 
		width:64.576875%;
		margin-right:3.1346875%;
	}

	.theme-layout-66x33>.theme-layout-column-right 
	{ 
		float:right; 
		width:32.2884375%;
	}

	/**************************************************************************/
	/*	Layout 33x66 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-33x66 {}

	.theme-layout-33x66>.theme-layout-column-left 
	{ 
		clear:both;
		float:left; 
		width:32.2884375%;
		margin-right:3.1346875%;
	}

	.theme-layout-33x66>.theme-layout-column-right 
	{ 
		float:right; 
		width:64.576875%;
	}
	
	/**************************************************************************/
	/*	Layout 25x75 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-25x75 {}

	.theme-layout-25x75>.theme-layout-column-left 
	{ 
		clear:both;
		float:left; 
		width:24.21875%;
		margin-right:3.125%;
	}

	.theme-layout-25x75>.theme-layout-column-right 
	{ 
		float:right; 
		width:72.65625%;
	}
	
	/**************************************************************************/
	/*	Layout 75x25 (in percentage)										  */
	/**************************************************************************/
	
	.theme-layout-75x25 {}

	.theme-layout-75x25>.theme-layout-column-left 
	{ 
		clear:both;
		float:left; 
		width:72.65625%;
		margin-right:3.125%;
	}

	.theme-layout-75x25>.theme-layout-column-right 
	{ 
		float:right;
		width:24.21875%;
	}

/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/

.theme-page-sidebar-enable
{
	
}

	.theme-page-sidebar-enable>.theme-column-left
	{
		float:left;
	}
	
	.theme-page-sidebar-enable>.theme-column-right
	{
		float:right;
	}
	
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-left .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-right .theme-main
	{
		width:300px;
	}
	
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-left>.theme-column-right .theme-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .pb-main,
	.theme-page-sidebar-enable.theme-page-sidebar-right>.theme-column-left .theme-main	
	{
		width:630px;
	}
	
/******************************************************************************/
/*	Main						                                              */
/******************************************************************************/

.theme-main,
.pb .pb-main,
.pb .pb-layout.pb-main,
body.page-template-main.page-gutenberg-block>*
{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

body.page-template-main.page-gutenberg-block>div:first-child,
body.page-template-main.page-gutenberg-block>.alignfull
{
    width:100%;
}

body.page-template-main.page-gutenberg-block>.alignleft
{
    margin-left:calc((100% - 960px)/2) !important;
    margin-right:auto !important;
}

body.page-template-main.page-gutenberg-block>.alignright
{
    margin-right:calc((100% - 960px)/2) !important;
    margin-left:auto !important;
}

/******************************************************************************/
/* Footer																	  */
/******************************************************************************/
	
div.theme-footer,
body.page-template-main.page-gutenberg-block>div.theme-footer
{
    width:100%;
}

	div.theme-footer-top
	{
		margin-top:80px;
		padding:60px 0px 60px 0px;
	}
	
		div.theme-footer-top div.theme-main
		{
			overflow:hidden;
		}
		
	div.theme-footer-bottom
	{
		padding:30px 0px 30px 0px;
	}
	
		div.theme-footer-bottom p a
		{
			text-decoration:none;
		}
		
		div.theme-footer-bottom p a:hover
		{
			text-decoration:underline;
		}	

/******************************************************************************/
/* Blog																	      */
/******************************************************************************/

.theme-post
{
	margin-bottom:50px;
}

	/**************************************************************************/
	/* Post	/ Section													      */
	/**************************************************************************/

	.theme-post .theme-post-section-top
	{

	}
	
	.theme-post .theme-post-section-bottom
	{
		margin-top:25px;
	}
	
		.theme-post .theme-post-section-bottom-left
		{
			float:left;
			width:80px;
		}

		.theme-post .theme-post-section-bottom-right
		{
			margin-left:110px;
		}
		
	/**************************************************************************/
	/* Post	/ Image														      */
	/**************************************************************************/
			
	.theme-post .theme-post-image
	{
		
	}

		.theme-post .theme-post-image>a
		{
			display:block;
			overflow:hidden;
			position:relative;
		}

			.theme-post .theme-post-image>a>img
			{
				display:block;
			}

			.theme-post .theme-post-image>a>span
			{
				top:0;
				left:-100%;
				width:100%;
				height:100%;
				display:block;
				position:absolute;
			}

				.theme-post .theme-post-image>a>span>span
				{
					top:50%;
					width:80px;
					height:80px;
					display:block;
					margin-top:-40px;
					margin-left:auto;
					margin-right:auto;
					position:relative;
					background-repeat:no-repeat;
					background-position:center center;							
				}
	
	/**************************************************************************/
	/* Post	/ Sticky Post Box											      */
	/**************************************************************************/					
	
	.theme-post .theme-post-sticky-box
	{
		height:80px;
		margin-bottom:2px;
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url('media/image/public/icon_feature/medium/pin.png');
	}
				
	/**************************************************************************/
	/* Post	/ Date														      */
	/**************************************************************************/	
	
	.theme-post .theme-post-date
	{
		font-weight:300;
		padding:8px 0px 14px 0px;
	}
	
		.theme-post .theme-post-date>span
		{
			clear:both;
			line-height:1;
			display:block;
			font-size:42px;
			text-align:center;
		}
		
		.theme-post .theme-post-date>span+span
		{
			font-size:13px;
			margin-top:3px;
			font-weight:400;
			text-transform:uppercase;
		}
	
	/**************************************************************************/
	/* Post	/ Comment count												      */
	/**************************************************************************/	
	
	.theme-post .theme-post-comment-count
	{
		font-weight:300;
		padding:8px 0px 14px 0px;		
		border-style:solid;
		border-width:0px 0px 2px 0px;
	}
	
		.theme-post .theme-post-comment-count>span
		{
			clear:both;
			line-height:1;
			display:block;
			font-size:42px;
			text-align:center;			
		}
		
		.theme-post .theme-post-comment-count>span+span
		{
			font-size:13px;
			margin-top:3px;
			font-weight:400;
			text-transform:uppercase;
		}
		
	/**************************************************************************/
	/* Post	/ Header													      */
	/**************************************************************************/	
	
	h4.theme-post-header
	{
		margin-bottom:20px;
		margin-top:-5px;
	}
	
	h4.theme-post-header,
	h4.theme-post-header a
	{
		line-height:130%;
	}
	
	h4.theme-post-header a
	{
		text-decoration:none;
	}
	
	h4.theme-post-header a:hover
	{
		text-decoration:underline;
	}
	
	/**************************************************************************/
	/* Post	/ Excerpt													      */
	/**************************************************************************/	
			
	div.theme-post-excerpt
	{
		margin-bottom:30px;
		text-align:justify;
	}
	
		div.theme-post-excerpt>p:first-child
		{
			padding-top:0px;
		}
	
	/**************************************************************************/
	/* Post	/ Content													      */
	/**************************************************************************/	
			
	div.theme-post-content
	{
		margin-bottom:30px;
	}
	
		div.theme-post-content>p:first-child
		{
			padding-top:0px;
		}
	
	/**************************************************************************/
	/* Post	/ Button more												      */
	/**************************************************************************/	
	
	a.theme-post-button-more
	{
		float:left;
		display:block;
		border-width:2px;
		border-style:solid;
		margin-bottom:30px;
		padding:10px 20px 10px 20px;
	}
	
	a.theme-post-button-more,
	a.theme-post-button-more:hover
	{
		text-decoration:none;
	}
	
	/**************************************************************************/
	/* Post	/ Post meta														  */
	/**************************************************************************/
	
	div.theme-post-meta
	{
		clear:both;
		height:100%;
		overflow:hidden;
		border-style:solid;
		padding:10px 0px 5px 0px;
		border-width:1px 0px 1px 0px;
	}
	
		div.theme-post-meta ul li
		{
			float:left;
		}
	
		div.theme-post-meta,
		div.theme-post-meta a
		{
			font-size:14px;
		}
	
		div.theme-post-meta a
		{
			text-decoration:none;
		}
		
		div.theme-post-meta a:hover
		{
			text-decoration:underline;
		}
	
		div.theme-post-meta>div
		{
			float:left;
			margin-right:30px;
			padding-left:20px;
			margin-bottom:5px;
			background-repeat:no-repeat;
			background-position:center left;
		}

		div.theme-post-meta>div:first-child
		{
			margin-left:0px;
		}
		
		div.theme-post-meta>div.theme-post-meta-author
		{
			background-image:url('media/image/public/icon_post_author.png');	
		}
		
		div.theme-post-meta>div.theme-post-meta-category
		{
			background-image:url('media/image/public/icon_post_category.png');	
		}
		
		div.theme-post-meta>div.theme-post-meta-tag
		{
			background-image:url('media/image/public/icon_post_tag.png');	
		}
		
	/**************************************************************************/
	/* Post	/ Post navigation												  */
	/**************************************************************************/
	
	div.theme-post-navigation
	{
		margin-top:20px;
		margin-bottom:20px;
	}
	
		div.theme-post-navigation a
		{
			width:50%;
			z-index:1;
			display:block;
			border-width:2px;
			position:relative;
			border-style:solid;
			box-sizing:border-box;
			padding:10px 20px 10px 20px;
		}
		
		div.theme-post-navigation a.theme-post-navigation-prev
		{
			right:-1px;
			text-align:right;
		}
		
		div.theme-post-navigation a.theme-post-navigation-next
		{
			left:-1px;
			text-align:left;
		}
		
		div.theme-post-navigation a.theme-post-navigation-prev:hover
		{
			z-index:2;
		}
		
		div.theme-post-navigation a.theme-post-navigation-next:hover
		{
			z-index:2;
		}
		
			div.theme-post-navigation a span
			{
				display:block;
			}
		
			div.theme-post-navigation a span.theme-post-navigation-arrow
			{
				top:50%;
				width:15px;
				height:25px;
				margin-top:-13px;
				position:absolute;
				background-repeat:no-repeat;
				background-position:0px 0px;
				background-image:url('media/image/public/next_previous_post_arrow.png');
			}
			
			div.theme-post-navigation a span.theme-post-navigation-content
			{
				height:48px;
				overflow:hidden;
				line-height:48px;
			}
			
			div.theme-post-navigation a:hover span.theme-post-navigation-content
			{
				line-height:inherit;
			}
			
			div.theme-post-navigation a.theme-post-navigation-prev span.theme-post-navigation-arrow
			{
				left:20px;
				background-position:0px 0px;
			}
			
			div.theme-post-navigation a.theme-post-navigation-prev:hover span.theme-post-navigation-arrow
			{
				background-position:-15px 0px;
			}
			
			div.theme-post-navigation a.theme-post-navigation-prev span.theme-post-navigation-content
			{
				margin-left:40px;
			}
			
			div.theme-post-navigation a.theme-post-navigation-next span.theme-post-navigation-arrow
			{
				right:20px;
				background-position:0px -25px;
			}
			
			div.theme-post-navigation a.theme-post-navigation-next:hover span.theme-post-navigation-arrow
			{
				background-position:-15px -25px;
			}
			
			div.theme-post-navigation a.theme-post-navigation-next span.theme-post-navigation-content
			{
				margin-right:40px;
			}
		
		div.theme-post-navigation a,
		div.theme-post-navigation a:hover
		{
			text-decoration:none;
		}
		
		div.theme-post-navigation a.theme-post-navigation-prev
		{
			float:left;
		}
	
		div.theme-post-navigation a.theme-post-navigation-next
		{
			float:right;
		}	
		
/******************************************************************************/
/* Blog pagination														      */
/* Comment pagination													      */
/******************************************************************************/

.theme-blog-pagination,
.theme-comment-pagination
{
	clear:both;
	margin-top:20px;
	margin-bottom:30px;
	text-align:right;
}

	.theme-blog-pagination>a,
	.theme-blog-pagination>span,
	.theme-comment-pagination a,
	.theme-comment-pagination span
	{
		line-height:1;
		font-size:12px;
		font-weight:600;
		margin-left:5px;
		border-width:2px;
		border-style:solid;
		display:inline-block;
		text-transform:uppercase;
		padding:8px 12px 8px 12px;
	}
	
	.theme-blog-pagination>a,
	.theme-comment-pagination a
	{
		text-decoration:none;
	}
	
/******************************************************************************/
/* Carousel pagination														  */
/******************************************************************************/

.theme-carousel-pagination-prev,
.theme-carousel-pagination-next
{
	top:4px;
	width:21px;
	height:21px;
	position:absolute;
	display:inline-block;
	background-repeat:no-repeat;
}

.theme-carousel-pagination-prev
{
	right:27px;
	background-image:url('media/image/public/arrow_previous.png');	
}

.theme-carousel-pagination-next
{
	right:0px;
	background-image:url('media/image/public/arrow_next.png');	
}

.theme-footer-top .theme-carousel-pagination-prev
{
	background-image:url('media/image/public/arrow_previous_footer.png');	
}

.theme-footer-top .theme-carousel-pagination-next
{
	background-image:url('media/image/public/arrow_next_footer.png');	
}

.theme-carousel-pagination-prev,
.theme-carousel-pagination-next
{
	background-position:0px 0px;
}

.theme-carousel-pagination-prev:hover,
.theme-carousel-pagination-next:hover
{
	background-position:0px -21px;
}

/******************************************************************************/
/* Respond																      */
/******************************************************************************/
	
#respond
{
	margin-top:40px;
}

/******************************************************************************/
/* Comments																      */
/******************************************************************************/
	
#comments
{
	margin-top:40px;
}

/******************************************************************************/
/*	Comments / Comments list												  */
/******************************************************************************/

#comments_list
{
	
}

	#comments_list>ul
	{

	}
	
		#comments_list>ul li
		{
			padding:0px;
			background-image:none;
		}

		#comments_list>ul>li ul.children,
		#comments_list>ul>li ul.children li,
		#comments_list>ul>li .theme-comment-meta,
		#comments_list>ul>li .theme-comment-content
		{
			margin-left:90px;
		}

		#comments_list>ul>li ul.children li ul.children,
		#comments_list>ul>li ul.children li ul.children li,
		#comments_list>ul>li .theme-comment-meta .theme-comment-meta ,
		#comments_list>ul>li .theme-comment-content .theme-comment-content
		{
			margin-left:0px;
		}
		
		#comments_list>ul>li ul.children
		{
			clear:both;
			margin:0px;
			padding:0px;
			list-style-type:none;
		}
		
		#comments_list>ul>li .theme-comment-avatar
		{
			float:left;
			width:70px;
			height:70px;
			padding:2px;
		}

			#comments_list>ul>li .theme-comment-avatar img
			{
				border:none;
			}

		#comments_list>ul>li .theme-comment-content
		{

		}
		
			#comments_list>ul>li .theme-comment-content>p:first-child
			{
				padding-top:0px;
			}

			#comments_list>ul>li .theme-comment-content .theme-comment-reply
			{
				clear:both;
				margin-top:15px;
				border-width:2px;
				border-style:solid;
				display:inline-block;
				padding:5px 10px 5px 10px;
			}
			
			#comments_list>ul>li .theme-comment-content .theme-comment-reply,
			#comments_list>ul>li .theme-comment-content .theme-comment-reply:hover
			{
				text-decoration:none;
			}
			
		#comments_list>ul>li .theme-comment-meta
		{
			margin-top:20px;
			margin-bottom:40px;
			border-style:solid;
			border-width:1px 0px 1px 0px;
			padding:5px 0px 0px 0px;
		}

			#comments_list>ul>li .theme-comment-meta,
			#comments_list>ul>li .theme-comment-meta a
			{
				font-size:14px;
			}
		
			#comments_list>ul>li .theme-comment-meta>div
			{
				float:left;
				margin-right:30px;
				padding-left:20px;
				margin-bottom:5px;
				background-repeat:no-repeat;
				background-position:center left;			
			}
		
			#comments_list>ul>li .theme-comment-meta>div:first-child
			{
				margin-left:0px;
			}

			#comments_list>ul>li .theme-comment-meta>div.theme-comment-meta-author
			{
				background-image:url('media/image/public/icon_post_author.png');	
			}
			
			#comments_list>ul>li .theme-comment-meta>div.theme-comment-meta-date
			{
				background-image:url('media/image/public/icon_post_date.png');	
			}

/******************************************************************************/
/* Comment form															      */
/******************************************************************************/

#comment-form
{
	
}

	#comment-form p
	{
		padding:0px;
	}

	#comment-form .comment-notes
	{
		font-style:italic;
		margin-bottom:10px;
	}
	
	#comment-form .form-allowed-tags
	{
		font-size:14px;
		text-align:center;
		margin:5px 0px 5px 0px;
	}
	
	#comment-form p
	{
		position:relative;
		margin-bottom:10px;
	}
	
	#comment-form label
	{
		position:absolute;
	}
	
	#reply-title
	{
		position:relative;
	}
	
	#reply-title #cancel-comment-reply-link
	{
		top:0px;
		right:0px;
		font-weight:600;
		position:absolute;
		text-decoration:none;
		text-transform:uppercase;
	}
	
/******************************************************************************/
/*  Qtip																	  */
/******************************************************************************/

.pb-qtip.qtip
{
	font-size:14px;
}
	
/******************************************************************************/
/*	White section				                                              */
/******************************************************************************/

.pb-white-section *
{
	color:#FFFFFF !important;
}

	.pb-white-section .pb-slider-pagination a
	{
		background-color:#FFFFFF !important;
	}
	
	.pb-white-section .pb-slider-pagination a:hover,
	.pb-white-section .pb-slider-pagination a.active,
	.pb-white-section .pb-slider-pagination a.selected
	{
		background-color:#FFFFFF !important;
	}

	.pb-white-section.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>div,
	.pb-white-section.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>span
	{
		background-color:#FFFFFF !important;
	}
	
	.pb-white-section.pb-feature ul>li>div>.pb-feature-icon
	{
		background-color:transparent;
	}
	
	.pb-white-section.pb-feature.pb-feature-icon-position-top ul>li>div>.pb-feature-icon
	{
		margin-bottom:0px;
	}

/******************************************************************************/
/*	Fonts						                                              */
/******************************************************************************/

.pb-text-italic p,
.pb-testimonial ul>li>div>p,
.pb-team>ul>li .pb-team-text-box>span,
.pb-team>ul>li .pb-team-image-box .pb-team-image-caption>div.pb-team-image-caption-member-position,
.pb-twitter-user-timeline .pb-twitter-user-timeline-text,
.pb-twitter-user-timeline .pb-twitter-user-timeline-text a,
.pb-header-subheader .pb-subheader .pb-subheader-content,
.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main span.pb-image-carousel-box-subheader,
.pb-blockquote blockquote,
.page-gutenberg-block .wp-block-quote,
.page-gutenberg-block .wp-block-pullquote,
.page-gutenberg-block .wp-block-quote cite
{
	font-family:'Droid Serif';
}

/******************************************************************************/
/*	Headers																	  */
/******************************************************************************/

.pb-header,pb-header a,h3.comment-reply-title,h3.comment-reply-title a
{
	margin:0px;
	padding:0px;
	line-height:130%;
}

.page-gutenberg-block h1,
.page-gutenberg-block h1 a,
.page-gutenberg-block h2,
.page-gutenberg-block h2 a,
h1.pb-header,
h1.pb-header a,
h2.pb-header,
h2.pb-header a
{
	text-transform:uppercase;
}

h1.pb-header,
h2.pb-header,
h3.pb-header,
h4.pb-header,
h5.pb-header,
h6.pb-header,
h3.comment-reply-title,
.page-gutenberg-block h1,
.page-gutenberg-block h2,
.page-gutenberg-block h3,
.page-gutenberg-block h4,
.page-gutenberg-block h5,
.page-gutenberg-block h6
{
	margin-bottom:30px;
}

h1.pb-header,h1.pb-header a
{

}

h2.pb-header,h2.pb-header a
{
	margin-top:60px;
	margin-bottom:80px;
}

.pb-header .pb-header-underline,
h3.comment-reply-title .pb-header-underline
{
	height:4px;
	width:100px;
	display:block;
	margin-top:10px;
}

h1.pb-header .pb-header-content,
h2.pb-header .pb-header-content
{
	text-align:center;
}

h1.pb-header .pb-header-underline,
h2.pb-header .pb-header-underline
{
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

h3.pb-header .pb-header-underline,
h4.pb-header .pb-header-underline,
h5.pb-header .pb-header-underline,
h6.pb-header .pb-header-underline,
h3.comment-reply-title .pb-header-underline
{
	height:2px;
	width:60px;
}

/******************************************************************************/
/*	Page header					                                              */
/******************************************************************************/

h1.theme-page-header
{
	font-weight:300;
	margin:60px auto 80px auto;
}	

	h1.theme-page-header>span.pb-header-content
	{
		line-height:110%;
	}
	
	h1.theme-page-header>span.pb-header-underline
	{
		margin-top:30px;
	}
	
div.theme-page
{
	margin-top:20px;
}

/******************************************************************************/
/*	Preloader					                                              */
/******************************************************************************/

.theme-preloader-image
{
	width:100%;
	height:100px;
	display:block;
	background-repeat:no-repeat;
	background-position:center center;
}

	.theme-preloader-image img
	{
		opacity:0;
	}
	
.pb-preloader,
.pb-preloader-image,
.theme-preloader-image
{
	background-image:url('media/image/public/preloader.gif');	
}

/******************************************************************************/
/*	Hover						                                              */
/******************************************************************************/

.theme-post .theme-post-image>a>span
{
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
}

	.theme-post .theme-post-image>a>span>span
	{
		top:50%;
		width:80px;
		height:80px;
		display:block;
		margin-top:-40px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		background-repeat:no-repeat;
		background-position:center center;							
	}

/******************************************************************************/
/*	Testimonial																  */
/******************************************************************************/
		
.pb-testimonial
{
	
}

	.pb-testimonial ul
	{

	}

		.pb-testimonial ul>li
		{
			padding:20px 0px 20px 0px;
		}

			.pb-testimonial ul>li>div
			{

			}

				.pb-testimonial ul>li>div>div.pb-testimonial-cite-up,
				.pb-testimonial ul>li>div>div.pb-testimonial-cite-down
				{
					width:31px;
					height:15px;
					display:block;
					background-repeat:no-repeat;
					background-position:0px 0px;
					background-image:url('media/image/public/icon_quote.png');
				}

				.pb-testimonial ul>li>div>p
				{
					font-size:22px;
					font-weight:400;
					line-height:150%;
					font-style:italic;
					padding:10px 0px 10px 0px;
				}

				.pb-testimonial ul>li>div>div.pb-testimonial-author-name
				{
					font-size:18px;
				}

				.pb-testimonial ul>li>div>div.pb-testimonial-author-position-company
				{
					font-style:italic;
				}

/******************************************************************************/
/*	Twitter User Timeline													  */
/******************************************************************************/

.pb-twitter-user-timeline
{
	
}

	.pb-twitter-user-timeline .pb-twitter-user-timeline-list
	{

	}
	
		.pb-twitter-user-timeline .pb-twitter-user-timeline-line
		{
			padding:20px 0px 20px 0px;
		}
		
			.pb-twitter-user-timeline .pb-twitter-user-timeline-text
			{

			}
			
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-1,
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-3
				{
					width:31px;
					height:15px;
					display:block;
					background-repeat:no-repeat;
					background-position:0px 0px;
					background-image:url('media/image/public/icon_quote.png');
				}

				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-1
				{
					float:left;
				}

				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-3
				{
					float:right;
				}
		
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-2
				{
					clear:both;
					display:block;
					padding:10px 0px 10px 0px;
				}

				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-2,
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-2 a
				{
					font-size:22px;
					font-weight:400;
					line-height:150%;
					font-style:italic;
				}
				
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-2 a
				{
					text-decoration:none;
				}
				
				.pb-twitter-user-timeline .pb-twitter-user-timeline-text-part-2 a:hover
				{
					text-decoration:underline;
				}
				
			.pb-twitter-user-timeline .pb-twitter-user-timeline-date,
			.pb-twitter-user-timeline .pb-twitter-user-timeline-author
			{
				display:block;
			}

			.pb-twitter-user-timeline .pb-twitter-user-timeline-date
			{
				opacity:0.5;
				font-style:italic;
			}

			.pb-twitter-user-timeline .pb-twitter-user-timeline-author
			{
				font-size:18px;
				margin-top:10px;
			}
			
			.pb-twitter-user-timeline .pb-slider-pagination
			{
				position:static;
				margin-top:20px;
				margin-bottom:20px;
			}

/******************************************************************************/
/*	Header + subheader														  */
/******************************************************************************/

.pb-header-subheader
{
	margin-bottom:30px;
}

	.pb-header-subheader .pb-subheader 
	{
		margin-top:-5px;
	}

		.pb-header-subheader .pb-subheader .pb-subheader-content
		{
			font-size:16px;
			font-style:italic;
		}
		
/******************************************************************************/
/*	Screen preloader														  */
/******************************************************************************/

.pb-screen-preloader
{
	background-image:url('media/image/public/screen_preloader.gif');
}

/******************************************************************************/
/*	Text italic																  */
/******************************************************************************/		

.pb-text-italic
{
	margin-bottom:40px;
}

	.pb-text-italic p:first-child
	{
		padding-top:0px;
	}

	.pb-text-italic p
	{
		font-size:20px;
		font-style:italic;
	}

/******************************************************************************/
/*	Gallery						                                              */
/******************************************************************************/

.theme-post .theme-post-image>a>span,
.theme-post .theme-post-image>a>span>span,
.pb-recent-post>ul>li div.pb-recent-post-image>a>span,
.pb-recent-post>ul>li div.pb-recent-post-image>a>span>span,
.pb-gallery>ul>li>div.pb-gallery-image-box>a>span,
.pb-gallery>ul>li>div.pb-gallery-image-box>a>span>span
{
	background-color:rgba(0,0,0,0.4);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}

	.pb-gallery>ul>li>div.pb-gallery-image-box>a>span>span
	{
		
	}

	.theme-post .theme-post-image.theme-post-image-type-image>a>span>span,
	.pb-gallery>ul>li.pb-gallery-item-type-image>div.pb-gallery-image-box>a>span>span
	{
		background-image:url('media/image/public/icon_image.png');
	}

	.pb-gallery>ul>li.pb-gallery-item-type-video>div.pb-gallery-image-box>a>span>span
	{
		background-image:url('media/image/public/icon_video.png');
	}

	.pb-recent-post>ul>li div.pb-recent-post-image>a>span>span,
	.theme-post .theme-post-image.theme-post-image-type-link>a>span>span,
	.pb-gallery>ul>li.pb-gallery-item-type-link>div.pb-gallery-image-box>a>span>span
	{
		background-image:url('media/image/public/icon_link.png');
	}

.pb-gallery>ul>li>div.pb-gallery-text-box>div.pb-gallery-text-box-caption
{
	font-size:20px;
}

.pb-gallery>ul>li>div.pb-gallery-text-box>div.pb-gallery-text-box-description
{
	font-style:italic;
}	

/******************************************************************************/
/*	Tabs						                                              */
/******************************************************************************/

.pb-tab
{
	
}

			.pb-tab>.ui-tabs-nav>li>a
			{
				font-size:20px;
			}
			
/******************************************************************************/
/*	Blockquote					                                              */
/******************************************************************************/			
			
.pb-blockquote
{
	
}

	.pb-blockquote blockquote p,
    .page-gutenberg-block .wp-block-quote p,
    .page-gutenberg-block .wp-block-pullquote p
	{
		line-height:180%;
	}
	
	.pb-blockquote .pb-blockquote-author
	{

	}
			
/******************************************************************************/
/*	Accordion					                                              */
/******************************************************************************/

.pb-accordion
{
	
}

		.pb-accordion .ui-accordion-header a
		{

		}
		
			.pb-accordion .ui-accordion-header a span
			{
				width:15px;
				height:10px;
				float:right;
				margin-top:10px;
				display:inline-block;
				background-repeat:no-repeat;
				background-image:url('media/image/public/arrow_accordion.png');
			}
			
			.pb-accordion .ui-accordion-header.ui-state-default a span
			{
				background-position:0px -20px;
			}
			
			.pb-accordion .ui-accordion-header.ui-state-hover a span
			{
				background-position:0px -10px;
			}
			
			.pb-accordion .ui-accordion-header.ui-state-active a span
			{
				background-position:0px 0px;
			}
			
			.theme-widget .pb-accordion .ui-accordion-header a span,
			.theme-footer-top .theme-widget .pb-accordion .ui-accordion-header a span
			{
				height:6px;
				width:11px;
			}
			
			.theme-widget .pb-accordion .ui-accordion-header a span
			{
				background-image:url('media/image/public/arrow_accordion_widget.png');
			}
			
			.theme-footer-top .theme-widget .pb-accordion .ui-accordion-header a span
			{
				background-image:url('media/image/public/arrow_accordion_widget_footer.png');
			}
			
			.theme-widget .pb-accordion .ui-accordion-header.ui-state-default a span,
			.theme-footer-top .theme-widget .pb-accordion .ui-accordion-header.ui-state-default a span
			{
				background-position:0px -12px;
			}
			
			.theme-widget .pb-accordion .ui-accordion-header.ui-state-hover a span,
			.theme-footer-top .theme-widget .pb-accordion  .ui-accordion-header.ui-state-hover a span
			{
				background-position:0px -6px;
			}
			
			.theme-widget .pb-accordion .ui-accordion-header.ui-state-active a span,
			.theme-footer-top .theme-widget .pb-accordion  .ui-accordion-header.ui-state-active a span
			{
				background-position:0px 0px;
			}

/******************************************************************************/
/*	Call To Action				                                              */
/******************************************************************************/
	
.pb-call-to-action
{
	padding:20px;
	border-width:1px;
	border-style:solid;
	border-color:transparent;
}

	.pb-call-to-action .pb-call-to-action-box
	{
		
	}
	
		.pb-call-to-action .pb-call-to-action-box>.pb-call-to-action-box-first-line,
		.pb-call-to-action .pb-call-to-action-box>.pb-call-to-action-box-second-line
		{
			text-transform:none;
		}
	
		.pb-call-to-action .pb-call-to-action-box>.pb-call-to-action-box-first-line
		{

		}
		
		.pb-call-to-action .pb-call-to-action-box>.pb-call-to-action-box-second-line
		{

		}
		
		.pb-call-to-action .pb-call-to-action-box>div>a
		{
			font-size:20px;
			margin-top:10px;
			border-width:2px;
			border-style:solid;
			padding:20px 35px 20px 35px;
		}
				
/******************************************************************************/
/*	Slider pagination														  */
/******************************************************************************/	
	
.pb-slider-pagination
{
	width:210px;
	padding:0px;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
}

	.pb-slider-pagination a
	{
		float:left;
		height:8px;
		opacity:0.4;
		font-size:0px;
		display:block;
		margin-right:1%;
	}
	
	.pb-slider-pagination a:hover,
	.pb-slider-pagination a.active,
	.pb-slider-pagination a.selected
	{
		opacity:1;
	}
	
/******************************************************************************/
/*	Image carousel				                                              */
/******************************************************************************/	

.pb-image-carousel
{
	
}

	.pb-image-carousel>.pb-slider-pagination
	{
		left:50%;
		z-index:99;
		padding:0px;
		position:absolute;
		margin-left:-105px;	
	}
	
	.pb-image-carousel,
	.pb-image-carousel .caroufredsel_wrapper
	{
		max-width:100% !important;
	}

/******************************************************************************/
/*	Nivo slider					                                              */
/******************************************************************************/		

.pb-nivo-slider
{
	
}

	.pb-nivo-slider .pb-slider-pagination
	{
		left:50%;
		z-index:99;
		bottom:30px;
		padding:0px;
		margin-top:0px;
		position:absolute;
		margin-left:-105px;	
	}
	
/******************************************************************************/
/*	Counter Box					                                              */
/******************************************************************************/
	
.pb-counter-box
{
	
}

	.pb-counter-box ul
	{

	}

		.pb-counter-box ul>li
		{

		}

			.pb-counter-box ul>li>div
			{
				
			}

				.pb-counter-box ul>li>div>div.pb-counter-box-counter
				{
					font-size:110px;
					font-weight:700;
				}

					.pb-counter-box ul>li>div>div.pb-counter-box-counter .pb-counter-box-counter-value
					{

					}

					.pb-counter-box ul>li>div>div.pb-counter-box-counter .pb-counter-box-counter-character
					{

					}

				.pb-counter-box ul>li>div>h4
				{

				}

				.pb-counter-box ul>li>div>p
				{

				}

				.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar
				{
					position:relative;
				}
				
					.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-background
					{
						width:100%;
						opacity:0.5;
					}
					
					.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-foreground
					{
						width:0px;
						display:block;
						position:absolute;
					}
	
/******************************************************************************/
/*	Notice						                                              */
/******************************************************************************/
		
.pb-notice
{
	background-position:10px center;
}
	.pb-notice>.pb-notice-content
	{
		min-height:58px;
		border-width:1px;
		border-style:solid;
		padding:15px 20px 15px 20px;
	}
	
	.pb-notice.pb-notice-icon>.pb-notice-content
	{
		margin-left:100px;
	}

		.pb-notice>.pb-notice-content>h5
		{

		}

		.pb-notice>.pb-notice-content>p
		{

		}
		
		.pb-notice>.pb-notice-content>.pb-notice-timeline
		{
			left:0px;
		}

			.pb-notice>.pb-notice-content>.pb-notice-timeline>div
			{

			}

		.pb-notice>.pb-notice-content>.pb-notice-close-button
		{
			font-size:14px;
		}
		
/******************************************************************************/
/* Menu + logo																  */
/******************************************************************************/

.pb-menu-logo
{
	display:none;
}

.pb-menu-logo.pb-menu-logo-sticky
{
	top:0;
	left:0px;
	width:100%;
	z-index:1001; 
	position:fixed; 
}

.pb-menu-logo .pb-main
{
	overflow:visible;
}

.pb-menu-logo li
{
	background-image:none;
}

	/**************************************************************************/
	/* Menu + logo / Logo													  */
	/**************************************************************************/

	.pb-menu-logo .pb-logo
	{

	}
	
		.pb-menu-logo .pb-logo a,
		.pb-menu-logo .pb-logo img
		{
			display:block;
		}
			
	.pb-menu-logo .pb-logo.pb-responsive-column-a
	{
		display:none;
	}

	/**************************************************************************/
	/* Menu + logo / Menu													  */
	/**************************************************************************/
	
	.pb-menu-logo .pb-menu
	{
		
	}
	
		.pb-menu-logo .pb-menu>ul.sf-menu
		{
			margin:0px;
			padding:0px;
			list-style-type:none;
		}
		
			.pb-menu-logo .pb-menu>ul.sf-menu a,
			.pb-menu-logo .pb-menu>ul.sf-menu a:hover
			{
				text-decoration:none;
			}
		
			.pb-menu-logo .pb-menu>ul.sf-menu>li
			{
				float:left;
			}
			
				.pb-menu-logo .pb-menu>ul.sf-menu ul>li>a
				{
					width:150px;
				}
				
	/**************************************************************************/
	/* Menu + logo / Menu responsive										  */
	/**************************************************************************/
	
	.pb-menu-logo .pb-menu-responsive
	{
		display:none;
	}
	
	.pb-menu-logo .pb-menu-responsive.pb-responsive-column-a
	{
		margin-bottom:0px !important;
	}
	
		.pb-menu-logo .pb-menu-responsive select
		{
			float:right;
			width:280px;
			font-size:14px;
			cursor:pointer;
			margin-top:25px;
			margin-bottom:25px;
			text-transform:none;
			-webkit-appearance:none;
			padding:15px 10px 15px 10px;
			background-repeat:no-repeat;
			background-position:center right;
			background-image:url('media/image/public/icon_menu_mobile.png');
		}
		
		.pb-menu-logo .pb-menu-responsive.pb-responsive-column-a select
		{
			width:100%;
			padding:10px;
		}
		
		@-moz-document url-prefix() 
		{
			.pb-menu-logo .pb-menu-responsive select
			{
				background-image:none;
			}
		}
		
/******************************************************************************/
/*	Menu + logo					                                              */
/******************************************************************************/		

@-moz-document url-prefix() 
{ 
	.pb-menu-logo
	{
		min-height:1px;
	}
}

.pb-menu-logo
{
	
}

	.pb-menu-logo .pb-logo
	{

	}
	
		.pb-menu-logo .pb-logo a
		{
			padding-top:28px;
		}
		
		.pb-menu-logo.pb-menu-logo-sticky .pb-logo a
		{
			padding-top:13px;
		}
	
		.pb-menu-logo .pb-menu
		{
			position:relative;
		}
		
			.pb-menu-logo .pb-menu div.pb-menu-selected
			{
				top:0px;
				left:0px;
				width:0px;
				z-index:1;
				height:100%;
				position:absolute;
			}
	
			.pb-menu-logo .pb-menu>ul
			{
				float:right;
			}
			
				.pb-menu-logo .pb-menu>ul>li
				{
					z-index:2;
					position:relative;
				}	

					.pb-menu-logo .pb-menu>ul>li>a
					{
						z-index:2;
						display:block;
						font-size:16px;
						position:relative;
						text-transform:uppercase;
						padding:40px 15px 40px 15px;
					}	
					
					.pb-menu-logo.pb-menu-logo-sticky .pb-menu>ul>li>a
					{
						padding-top:25px;
						padding-bottom:25px;
					}

						.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a>span
						{
							top:50%;
							left:50%;
							width:0px;
							height:0px;
							bottom:0px;
							display:block;
							margin-top:14px;
							position:absolute;
							border-style:solid;
							border-width:0px 0px 3px 0px;
						}

						.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a:hover>span
						{
							left:10%;
							width:80%;
						}

						.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a>span,
						.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a:hover>span
						{
							transition:left 0.3s ease-in-out,width 0.3s ease-in-out;
							-o-transition:left 0.3s ease-in-out,width 0.3s ease-in-out;
							-ms-transition:left 0.3s ease-in-out,width 0.3s ease-in-out;
							-moz-transition:left 0.3s ease-in-out,width 0.3s ease-in-out;
							-webkit-transition:left 0.3s ease-in-out,width 0.3s ease-in-out;
						}

					.pb-menu-logo .pb-menu>ul>li ul
					{
						box-shadow:none;
					}

						.pb-menu-logo .pb-menu>ul>li ul>li
						{

						}

							.pb-menu-logo .pb-menu>ul>li ul>li>a
							{
								display:block;
								font-size:13px;
								text-transform:uppercase;
								padding:15px 20px 15px 20px;
							}
							
/******************************************************************************/
/* Recent post																  */
/******************************************************************************/

.pb-recent-post
{
	
}

	.pb-recent-post>ul
	{
		
	}
	
		.pb-recent-post>ul>li
		{
			
		}
		
			.pb-recent-post>ul>li>div
			{
				
			}
			
				/**************************************************************/
				/* Recent post / Date										  */
				/**************************************************************/
				
				.pb-recent-post>ul>li div.pb-recent-post-date
				{
					font-size:20px;
					font-weight:400;
				}
		
				/**************************************************************/
				/* Recent post / Image										  */
				/**************************************************************/
				
				.pb-recent-post>ul>li div.pb-recent-post-image
				{
					
				}
				
				/**************************************************************/
				/* Recent post / Header										  */
				/**************************************************************/
				
				.pb-recent-post>ul>li .pb-recent-post-header
				{
					
				}
				
					.pb-recent-post>ul>li .pb-recent-post-header>a
					{
						text-decoration:none;
					}
					
					.pb-recent-post>ul>li .pb-recent-post-header>a:hover
					{
						text-decoration:underline;
					}
				
				/**************************************************************/
				/* Recent post / Excerpt									  */
				/**************************************************************/
				
				.pb-recent-post>ul>li div.pb-recent-post-excerpt
				{
					
				}
				
				/**************************************************************/
				/* Recent post / Meta										  */
				/**************************************************************/
				
				.pb-recent-post>ul>li div.pb-recent-post-meta
				{
					border-style:solid;
					padding:10px 0px 5px 0px;
					border-width:1px 0px 1px 0px;				
				}
				
					.pb-recent-post>ul>li div.pb-recent-post-meta>div
					{
						float:left;
						margin-right:30px;
						padding-left:20px;
						margin-bottom:5px;
						background-repeat:no-repeat;
						background-position:center left;
					}
					
					.pb-recent-post>ul>li div.pb-recent-post-meta>div,
					.pb-recent-post>ul>li div.pb-recent-post-meta>div a
					{
						font-size:14px;
					}
					
					.pb-recent-post>ul>li div.pb-recent-post-meta>div:first-child
					{
						margin-left:0px;
					}
					
					.pb-recent-post>ul>li div.pb-recent-post-meta>div a
					{
						
					}
					
					/**********************************************************/
					/* Recent post / Meta / Author							  */
					/**********************************************************/
				
					.pb-recent-post>ul>li div.pb-recent-post-meta>div.pb-recent-post-meta-author
					{
						background-image:url('media/image/public/icon_post_author.png');
					}
					
					/**********************************************************/
					/* Recent post / Meta / Category						  */
					/**********************************************************/
					
					.pb-recent-post>ul>li div.pb-recent-post-meta>div.pb-recent-post-meta-category
					{
						background-image:url('media/image/public/icon_post_category.png');
					}
					
						.pb-recent-post>ul>li div.pb-recent-post-meta>div.pb-recent-post-meta-category>ul
						{
							
						}
						
							.pb-recent-post>ul>li div.pb-recent-post-meta>div.pb-recent-post-meta-category>ul>li
							{

							}
							
/******************************************************************************/
/* Team																		  */
/******************************************************************************/

.pb-team
{
	
}

	.pb-team>ul
	{	
		
	}
	
		.pb-team>ul>li
		{

		}
		
			/******************************************************************/
			/* Team / Image													  */
			/******************************************************************/
		
			.pb-team>ul>li .pb-team-image-box
			{
				
			}
			
				.pb-team>ul>li .pb-team-image-box>div>a
				{
					display:block;
				}
				
					.pb-team>ul>li .pb-team-image-box>div>a>img
					{
						display:block;
					}
					
					.pb-team>ul>li .pb-team-image-box>div>a>span,
					.pb-team>ul>li .pb-team-image-box>div>a>span>span
					{
						background-color:rgba(0,0,0,0.4);
						-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
					}
					
						.pb-team>ul>li .pb-team-image-box>div>a>span>span
						{
							background-image:url('media/image/public/icon_image.png');
						}
						
			.pb-team>ul>li .pb-team-image-box .pb-team-image-caption
			{

			}
			
				.pb-team>ul>li .pb-team-image-box .pb-team-image-caption>div.pb-team-image-caption-member-name
				{
					font-size:20px;
					font-weight:400;
				}

				.pb-team>ul>li .pb-team-image-box .pb-team-image-caption>div.pb-team-image-caption-member-position
				{
					font-size:14px;
					font-style:italic;	
				}
			
			/******************************************************************/
			/* Team / Social list											  */
			/******************************************************************/
			
			.pb-team>ul>li ul.pb-team-social-icon-box
			{

			}
			
				.pb-team>ul>li ul.pb-team-social-icon-box>li
				{

				}
				
					.pb-team>ul>li ul.pb-team-social-icon-box>li>a
					{

					}
			
			/******************************************************************/
			/* Team / Text													  */
			/******************************************************************/
			
			.pb-team>ul>li .pb-team-text-box
			{
				
			}
			
				.pb-team>ul>li .pb-team-text-box>h3.pb-team-text-box-member-name
				{
					margin-top:-15px;
				}
				
				.pb-team>ul>li .pb-team-text-box>div.pb-team-text-box-member-position
				{
					display:block;
					font-size:16px;
					margin-top:-5px;
				}
				
				.pb-team>ul>li .pb-team-text-box p
				{
					
				}
							
/******************************************************************************/
/* Header																	  */
/******************************************************************************/

.theme-header
{
	left:0px;
	right:0px;
	z-index:2;
	position:absolute !important;
}

	.theme-header .pb-social-icon li
	{
		margin-right:10px;
		margin-bottom:10px;
	}
	
	.theme-header p
	{
		padding:0px;
	}
	
/******************************************************************************/
/*	CSS classes					                                              */
/******************************************************************************/

.section-padding-top
{
	padding-top:80px;
}

.section-padding-bottom
{
	padding-bottom:80px;
}

.position-absolute
{
	z-index:2;
	position:absolute !important;;
}

.position-relative
{
	z-index:2;
	position:relative !important;
}

.float-right
{
	float:right !important;
}

/******************************************************************************/
/*	WP classes					                                              */
/******************************************************************************/

.aligncenter
{
	text-align:center !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

.alignleft,
.alignright
{
	margin:0 !important;
}

.alignleft 
{
	float:none !important;
	text-align:left !important;
	margin-right:10px !important;
	margin-bottom:10px !important;
}

	.alignleft .pb-header-content
	{
		text-align:left !important;
	}

.alignright 
{
	float:none !important;
	text-align:right !important;
	margin-left:10px !important;
	margin-bottom:10px !important;
}

	.alignright .pb-header-content
	{
		text-align:right !important;
	}

.wp-caption
{
	margin:10px;
	max-width:100%;
	display:inline-block;
}

	.wp-caption a,
	.wp-caption a img
	{
		display:block;
	}
	
.wp-caption-text
{
	
}

.sticky
{
	
}

.gallery-caption
{
	
}

.bypostauthor
{
	
}

.screen-reader-text
{
    
}

/******************************************************************************/
/* Gutenberg                                                                  */
/******************************************************************************/

    /**************************************************************************/
    /* Gutenberg / List                                                      */
    /**************************************************************************/

    .page-gutenberg-block ol
    {
        list-style-position:inside;
    }
    
    /**************************************************************************/
    /* Gutenberg / Table                                                      */
    /**************************************************************************/

    .page-gutenberg-block .wp-block-table
    {

    }

        .page-gutenberg-block .wp-block-table td,
        .page-gutenberg-block .wp-block-table th
        {
            border:none;
            padding:20px 30px 20px 30px
        }
        
        .page-gutenberg-block .wp-block-table tr:nth-child(n) td
        {
            background-color:#F5F5F5;
        }

        .page-gutenberg-block .wp-block-table tr th,
        .page-gutenberg-block .wp-block-table tr:nth-child(2n) td
        {
            background-color:#FFFFFF;
        }
        
    /**************************************************************************/
    /* Gutenberg / Blockquote                                                 */
    /**************************************************************************/        
    
    .page-gutenberg-block .wp-block-quote cite,
    .page-gutenberg-block .wp-block-pullquote p,
    .page-gutenberg-block .wp-block-pullquote cite,
    .page-gutenberg-block .wp-block-quote.is-large p
    {
        font-size:16px;
        text-transform:none;
    }
    
    /**************************************************************************/
    /* Gutenberg / Gallery                                                 */
    /**************************************************************************/    
    
    .page-gutenberg-block .wp-block-gallery>li
    {
        padding-left:0px;
        background-image:none;
    }
    
    
    
    
        
        