/******************************************************************************/
/* Custom post type icons													  */
/******************************************************************************/

#adminmenu #menu-posts-theme_widget_area div.wp-menu-image:before
{
	content:'\f116';
}

/******************************************************************************/
/* Gutenberg                                                                  */
/******************************************************************************/

    /**************************************************************************/
    /* Gutenberg / Font                                                       */
    /**************************************************************************/

    .block-editor .wp-block,
    .block-editor .wp-block-quote p div.wp-block-quote__citation,
    .block-editor .editor-post-title__block .editor-post-title__input
    {
        font-family:'Source Sans Pro';
    }
    
    /**************************************************************************/
    /* Gutenberg / Color                                                      */
    /**************************************************************************/    
    
    .block-editor .editor-styles-wrapper,
    .block-editor .edit-post-visual-editor p.wp-block-subhead
    {
        color:#777777;
    }
    
    /**************************************************************************/
    /* Gutenberg / Main                                                       */
    /**************************************************************************/    
    
    .wp-block
    {
        max-width:960px;
    }    
    
    .block-editor .editor-styles-wrapper,
    .block-editor .editor-styles-wrapper p
    {
        font-size:16px;
    }
    
    .block-editor .editor-styles-wrapper p
    {
        line-height:150%;
    }
    
    .block-editor .block-editor-block-list__layout
    {
        margin-top:80px;
        margin-bottom:80px;
    }

    /**************************************************************************/
    /* Gutenberg / Post title                                                 */
    /**************************************************************************/ 

    .block-editor .editor-post-title
    {
        padding:60px 0px 0px 0px;
    }
    
    .block-editor .editor-post-title .editor-post-title__block .editor-post-title__input
    {
        color:#484C54;;
        font-size:72px;
        font-weight:300;
        line-height:130%;
        text-align:center;
        font-style:normal;
        text-transform:uppercase;
    }
    
    /**************************************************************************/
    /* Gutenberg / Divider                                                    */
    /**************************************************************************/    

    .block-editor .wp-block-separator
    {
        width:100%;
        float:none;
        font-size:0px;
        margin-top:20px;
        margin-bottom:20px;
        border-style:solid;
        border-color:#EEEEEE;
        border-width:0px 0px 1px 0px;        
    }
    
    /**************************************************************************/
    /* Gutenberg / Headers                                                    */
    /**************************************************************************/    

    .block-editor .wp-block-heading h1,
    .block-editor .wp-block-heading h2,
    .block-editor .wp-block-heading h3,
    .block-editor .wp-block-heading h4,
    .block-editor .wp-block-heading h5,
    .block-editor .wp-block-heading h6
    {
        color:#484C54;
        font-style:normal;
        font-weight:normal;
        margin-bottom:30px;
    }

    .block-editor .wp-block-heading h1
    {
        font-size:72px;
        font-weight:600;
        text-transform:uppercase;
    }
    
    .block-editor .wp-block-heading h2
    {
        font-size:60px;
        font-weight:200;
    }
    
    .block-editor .wp-block-heading h3
    {
        font-size:42px;
        font-weight:300;
    }
    
    .block-editor .wp-block-heading h4
    {
        font-size:24px;
    }
    
    .block-editor .wp-block-heading h5
    {
        font-size:20px;
    }
    
    .block-editor .wp-block-heading h6
    {
        font-size:18px;
    }

    /**************************************************************************/
    /* Gutenberg / Preformatted text                                          */
    /**************************************************************************/    

    .block-editor .wp-block-preformatted pre,
    .block-editor .wp-block-verse pre
    {
        color:#999999;
        font-size:16px;
        white-space:pre;
        font-family:monospace;
        border:solid 2px #E8E8E8;
        padding:10px 15px 20px 15px;
    }

    /**************************************************************************/
    /* Gutenberg / Blockquote                                                 */
    /**************************************************************************/ 
    
    .block-editor .wp-block-quote,
    .block-editor .wp-block-pullquote
    {
        border:none;
        padding:0px 0px 0px 20px;
        border-left:solid 2px #15A346;
    }

    .block-editor .wp-block-quote p,
    .block-editor .wp-block-pullquote .block-library-pullquote__content p
    {
        margin:0px;
        padding:0px;
        color:#B0B0B0;
        font-size:16px;
        font-weight:400;
        text-align:left;
        line-height:180%;
        font-style:italic;
        font-family:'Droid Serif';
    }

    .block-editor .wp-block-quote .wp-block-quote__citation,
    .block-editor .wp-block-pullquote .wp-block-pullquote__citation
    {
        color:#B0B0B0;
        font-size:16px;
        text-align:right;
        text-transform:none;
    }

    /**************************************************************************/
    /* Gutenberg / List                                                       */
    /**************************************************************************/ 

    .block-editor .editor-styles-wrapper .block-library-list ol,
    .block-editor .editor-styles-wrapper .block-library-list ul
    {
        margin:0px;
        padding-left:10px;
        list-style:inside;
    }
    .block-editor .editor-styles-wrapper .block-library-list ol
    {
        list-style-type:lower-alpha;
    }

    /**************************************************************************/
    /* Gutenberg / Table                                                       */
    /**************************************************************************/ 

    .block-editor .wp-block-table td,
    .block-editor .wp-block-table tr
    {
        border:none;
        padding:20px 30px 20px 30px;
    }

    .block-editor .wp-block-table tr:nth-child(n) td
    {
        background-color:#F5F5F5;
    }

    .block-editor .wp-block-table tr th,
    .block-editor .wp-block-table tr:nth-child(2n) td
    {
        background-color:#FFFFFF;
    }