
.pb-accordion.ui-accordion .ui-accordion-header.ui-state-default,
.pb-accordion.ui-accordion .ui-accordion-header.ui-state-default a
{
	color:#777777;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-default
{
	border-color:#E8E8E8;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover,
.pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover a
{
	color:#484C54;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color:#15A346;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-active,
.pb-accordion.ui-accordion .ui-accordion-header.ui-state-active a
{
	color:#FFFFFF;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-active
{
	border-color:#15A346;
}

.pb-accordion.ui-accordion .ui-accordion-header.ui-state-active
{
	background-color:#15A346;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-default,
div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-default a
{
	color:#B9BDC2;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-default
{
	border-color:#3B444E;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover,
div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color:#15A346;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-active,
div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-active a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-active
{
	border-color:#15A346;
}

div.theme-footer-top .pb-accordion.ui-accordion .ui-accordion-header.ui-state-active
{
	background-color:#15A346;
}

::selection
{
	color:#FFFFFF;
}
::-moz-selection { color:#FFFFFF; }
::selection
{
	background-color:#15A346;
}
::-moz-selection { background-color:#15A346; }
body,
input,
select,
textarea
{
	color:#777777;
}

a
{
	color:#484C54;
}

div.theme-footer-top
{
	color:#B9BDC2;
}

div.theme-footer-top a
{
	color:#B9BDC2;
}

div.theme-footer-top a:hover
{
	color:#FFFFFF;
}

div.theme-footer-top
{
	background-color:#2C343D;
}

div.theme-footer-bottom
{
	color:#889097;
}

div.theme-footer-bottom a
{
	color:#FFFFFF;
}

div.theme-footer-bottom a:hover
{
	color:#FFFFFF;
}

div.theme-footer-bottom
{
	background-color:#21272E;
}

.pb-blockquote,
.page-gutenberg-block .wp-block-quote,
.page-gutenberg-block .wp-block-pullquote
{
	border-color:#15A346;
	padding-left:20px;
	border-style:solid;
	border-left-width:2px;
}

.pb-blockquote,
.page-gutenberg-block .wp-block-quote,
.page-gutenberg-block .wp-block-quote cite,
.page-gutenberg-block .wp-block-pullquote p,
.page-gutenberg-block .wp-block-pullquote cite
{
	color:#B0B0B0;
}

.pb-blockquote a,
.page-gutenberg-block .wp-block-quote p a,
.page-gutenberg-block .wp-block-pullquote p a
{
	color:#B0B0B0;
}

.pb-blockquote a:hover,
.page-gutenberg-block .wp-block-quote p a:hover,
.page-gutenberg-block .wp-block-pullquote p a:hover
{
	color:#B0B0B0;
}

.theme-footer-top .pb-blockquote
{
	border-color:#FFFFFF;
	padding-left:20px;
	border-style:solid;
	border-left-width:2px;
}

.theme-footer-top .pb-blockquote
{
	color:#B0B0B0;
}

.theme-footer-top .pb-blockquote a
{
	color:#B0B0B0;
}

.theme-footer-top .pb-blockquote a:hover
{
	color:#B0B0B0;
}

.theme-post .theme-post-date
{
	color:#FFFFFF;
}

.theme-post .theme-post-date
{
	background-color:#15A346;
}

.theme-post .theme-post-comment-count
{
	border-bottom-color:#E8E8E8;
}

a.theme-post-button-more
{
	color:#777777;
}

a.theme-post-button-more
{
	border-color:#E8E8E8;
}

a.theme-post-button-more:hover
{
	color:#484C54;
}

a.theme-post-button-more:hover
{
	border-color:#15A346;
}

div.theme-post-meta
{
	color:#777777;
}

div.theme-post-meta a
{
	color:#B0B0B0;
}

div.theme-post-meta a:hover
{
	color:#484C54;
}

div.theme-post-meta
{
	border-color:#E8E8E8;
}

div.theme-post-navigation a
{
	color:#777777;
}

div.theme-post-navigation a:hover
{
	color:#484C54;
}

div.theme-post-navigation a
{
	border-color:#E8E8E8;
}

div.theme-post-navigation a:hover
{
	border-color:#15A346;
}

div.theme-blog-pagination>a
{
	color:#777777;
}

div.theme-blog-pagination>a
{
	border-color:#E8E8E8;
}

div.theme-blog-pagination>a
{
	background-color:#FFFFFF;
}

div.theme-blog-pagination>a:hover
{
	color:#484C54;
}

div.theme-blog-pagination>a:hover
{
	border-color:#15A346;
}

div.theme-blog-pagination>a:hover
{
	background-color:#FFFFFF;
}

div.theme-blog-pagination>span
{
	color:#FFFFFF;
}

div.theme-blog-pagination>span
{
	border-color:#15A346;
}

div.theme-blog-pagination>span
{
	background-color:#15A346;
}

.pb-button>a
{
	color:#FFFFFF;
}

.pb-button>a
{
	background-color:#15A346;
}

.pb-button>a:hover
{
	color:#FFFFFF;
}

.pb-button>a:hover
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-button>a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-button>a
{
	background-color:#15A346;
}

div.theme-footer-top .pb-button>a:hover
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-button>a:hover
{
	background-color:#3B444E;
}

.pb-call-to-action
{
	background-color:#F2F2F2;
}

.pb-call-to-action .pb-call-to-action-box>h5
{
	color:#777777;
}

.pb-call-to-action .pb-call-to-action-box>div>a
{
	color:#777777;
}

.pb-call-to-action .pb-call-to-action-box>div>a
{
	border-color:#E8E8E8;
}

.pb-call-to-action .pb-call-to-action-box>div>a:hover
{
	color:#484C54;
}

.pb-call-to-action .pb-call-to-action-box>div>a:hover
{
	border-color:#15A346;
}

#comment-form textarea,
#comment-form input[type="text"]
{
	color:#777777;
}

#comment-form textarea,
#comment-form input[type="text"]
{
	border-color:#F2F2F2;
	border-width:2px;
	border-style:solid;
}

#comment-form textarea,
#comment-form input[type="text"]
{
	background-color:#F2F2F2;
}

#comment-form textarea:focus,
#comment-form input[type="text"]:focus
{
	background-color:#FFFFFF;
}

#comment-form input[type="submit"]
{
	color:#777777;
}

#comment-form input[type="submit"]
{
	border-color:#E8E8E8;
	border-width:2px;
	border-style:solid;
}

#comment-form input[type="submit"]
{
	background-color:#FFFFFF;
}

#comment-form input[type="submit"]:hover
{
	color:#484C54;
}

#comment-form input[type="submit"]:hover
{
	border-color:#15A346;
	border-width:2px;
	border-style:solid;
}

#comment-form input[type="submit"]:hover
{
	background-color:#FFFFFF;
}

#comment-form .qtip.pb-qtip.pb-qtip-success
{
	color:#FFFFFF;
}

#comment-form .qtip.pb-qtip.pb-qtip-success
{
	background-color:#67CC2A;
}
#comment-form  .qtip.pb-qtip.pb-qtip-success .qtip-tip { border-color:#67CC2A; }
#comment-form .qtip.pb-qtip.pb-qtip-error
{
	color:#FFFFFF;
}

#comment-form .qtip.pb-qtip.pb-qtip-error
{
	background-color:#FF9600;
}
#comment-form .qtip.pb-qtip.pb-qtip-error .qtip-tip { border-color:#FF9600; }
#comments_list>ul>li .theme-comment-avatar
{
	border-color:#E8E8E8;
	border-width:2px;
	border-style:solid;
}

#comments_list>ul>li .theme-comment-content
{
	color:#777777;
}

#comments_list>ul>li .theme-comment-content .theme-comment-reply
{
	color:#777777;
}

#comments_list>ul>li .theme-comment-content .theme-comment-reply
{
	border-color:#E8E8E8;
}

#comments_list>ul>li .theme-comment-content .theme-comment-reply:hover
{
	color:#484C54;
}

#comments_list>ul>li .theme-comment-content .theme-comment-reply:hover
{
	border-color:#15A346;
}

#comments_list>ul>li .theme-comment-meta
{
	color:#777777;
}

#comments_list>ul>li .theme-comment-meta a
{
	color:#777777;
}

#comments_list>ul>li .theme-comment-meta
{
	border-color:#E8E8E8;
}

.theme-comment-pagination a
{
	color:#777777;
}

.theme-comment-pagination a
{
	border-color:#E8E8E8;
}

.theme-comment-pagination a
{
	background-color:#FFFFFF;
}

.theme-comment-pagination a:hover
{
	color:#484C54;
}

.theme-comment-pagination a:hover
{
	border-color:#15A346;
}

.theme-comment-pagination a:hover
{
	background-color:#FFFFFF;
}

.theme-comment-pagination span
{
	color:#FFFFFF;
}

.theme-comment-pagination span
{
	border-color:#15A346;
}

.theme-comment-pagination span
{
	background-color:#15A346;
}

.pb-contact-form select,
.pb-contact-form textarea,
.pb-contact-form input[type="text"],
.pb-contact-form input[type="password"],
.pb-contact-form>div>ul>li label.pb-infield-label
{
	color:#777777;
}

.pb-contact-form select,
.pb-contact-form textarea,
.pb-contact-form input[type="text"],
.pb-contact-form input[type="password"]
{
	border-color:#F2F2F2;
	border-width:2px;
	border-style:solid;
}

.pb-contact-form select,
.pb-contact-form textarea,
.pb-contact-form input[type="text"],
.pb-contact-form input[type="password"]
{
	background-color:#F2F2F2;
}

.pb-contact-form select:focus,
.pb-contact-form textarea:focus,
.pb-contact-form input[type="text"]:focus,
.pb-contact-form input[type="password"]:focus
{
	color:#777777;
}

.pb-contact-form select:focus,
.pb-contact-form textarea:focus,
.pb-contact-form input[type="text"]:focus,
.pb-contact-form input[type="password"]:focus
{
	border-color:#F2F2F2;
	border-width:2px;
	border-style:solid;
}

.pb-contact-form select:focus,
.pb-contact-form textarea:focus,
.pb-contact-form input[type="text"]:focus,
.pb-contact-form input[type="password"]:focus
{
	background-color:#FFFFFF;
}

.pb-contact-form input[type="submit"],
.pb-contact-form input[type="button"]
{
	color:#777777;
}

.pb-contact-form input[type="button"],
.pb-contact-form input[type="submit"]
{
	border-color:#E8E8E8;
	border-width:2px;
	border-style:solid;
}

.pb-contact-form input[type="submit"],
.pb-contact-form input[type="button"]
{
	background-color:#FFFFFF;
}

.pb-contact-form input[type="submit"]:hover,
.pb-contact-form input[type="button"]:hover
{
	color:#484C54;
}

.pb-contact-form input[type="submit"]:hover,
.pb-contact-form input[type="button"]:hover
{
	border-color:#15A346;
	border-width:2px;
	border-style:solid;
}

.pb-contact-form input[type="submit"]:hover,
.pb-contact-form input[type="button"]:hover
{
	background-color:#FFFFFF;
}

.pb-contact-form .qtip.pb-qtip.pb-qtip-success
{
	color:#FFFFFF;
}

.pb-contact-form .qtip.pb-qtip.pb-qtip-success
{
	background-color:#67CC2A;
}
.pb-contact-form .qtip.pb-qtip.pb-qtip-success .qtip-tip { border-color:#67CC2A; }
.pb-contact-form .qtip.pb-qtip.pb-qtip-error
{
	color:#FFFFFF;
}

.pb-contact-form .qtip.pb-qtip.pb-qtip-error
{
	background-color:#FF9600;
}
.pb-contact-form .qtip.pb-qtip.pb-qtip-error .qtip-tip { border-color:#FF9600; }
div.theme-footer-top select,
div.theme-footer-top textarea,
div.theme-footer-top input[type="text"],
div.theme-footer-top input[type="password"],
div.theme-footer-top .pb-contact-form>div>ul>li label.pb-infield-label
{
	color:#B9BDC2;
}

div.theme-footer-top select,
div.theme-footer-top textarea,
div.theme-footer-top input[type="text"],
div.theme-footer-top input[type="password"]
{
	border-color:#3B444E;
	border-width:2px;
	border-style:solid;
}

div.theme-footer-top select,
div.theme-footer-top textarea,
div.theme-footer-top input[type="text"],
div.theme-footer-top input[type="password"]
{
	background-color:#3B444E;
}

div.theme-footer-top select:focus,
div.theme-footer-top textarea:focus,
div.theme-footer-top input[type="text"]:focus,
div.theme-footer-top input[type="password"]:focus
{
	color:#B9BDC2;
}

div.theme-footer-top select:focus,
div.theme-footer-top textarea:focus,
div.theme-footer-top input[type="text"]:focus,
div.theme-footer-top input[type="password"]:focus
{
	border-color:#3B444E;
	border-width:2px;
	border-style:solid;
}

div.theme-footer-top select:focus,
div.theme-footer-top textarea:focus,
div.theme-footer-top input[type="text"]:focus,
div.theme-footer-top input[type="password"]:focus
{
	background-color:#3B444E;
}

div.theme-footer-top input[type="submit"],
div.theme-footer-top input[type="button"]
{
	color:#B9BDC2;
}

div.theme-footer-top input[type="button"],
div.theme-footer-top input[type="submit"]
{
	border-color:#3B444E;
	border-width:2px;
	border-style:solid;
}

div.theme-footer-top input[type="submit"],
div.theme-footer-top input[type="button"]
{
	background-color:#2C343D;
}

div.theme-footer-top input[type="submit"]:hover,
div.theme-footer-top input[type="button"]:hover
{
	color:#FFFFFF;
}

div.theme-footer-top input[type="submit"]:hover,
div.theme-footer-top input[type="button"]:hover
{
	border-color:#15A346;
	border-width:2px;
	border-style:solid;
}

div.theme-footer-top input[type="submit"]:hover,
div.theme-footer-top input[type="button"]:hover
{
	background-color:#2C343D;
}

div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-success.qtip
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-success.qtip
{
	background-color:#67CC2A;
}
div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-success.qtip .qtip-tip { border-color:#67CC2A; }
div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-error.qtip
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-error.qtip
{
	background-color:#FF9600;
}
div.theme-footer-top .pb-contact-form .pb-qtip.pb-qtip-error.qtip .qtip-tip { border-color:#FF9600; }
.pb-counter-box ul>li>div>div.pb-counter-box-counter
{
	color:#484C54;
}

.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-background,
.pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-foreground
{
	background-color:#15A346;
}

.pb-counter-box .pb-slider-pagination a
{
	background-color:#15A346;
}

.pb-counter-box .pb-slider-pagination a:hover,
.pb-counter-box .pb-slider-pagination a.active,
.pb-counter-box .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

div.theme-footer-top .pb-counter-box ul>li>div>div.pb-counter-box-counter
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-background,
div.theme-footer-top .pb-counter-box ul>li>div>div.pb-counter-box-progress-bar>.pb-counter-box-progress-bar-foreground
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-counter-box .pb-slider-pagination a
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-counter-box .pb-slider-pagination a:hover,
div.theme-footer-top .pb-counter-box .pb-slider-pagination a.active,
div.theme-footer-top .pb-counter-box .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

p.pb-dropcap>span.pb-dropcap-first-letter
{
	color:#FFFFFF;
}

p.pb-dropcap>span.pb-dropcap-first-letter
{
	background-color:#15A346;
}

.theme-footer-top p.pb-dropcap>span.pb-dropcap-first-letter
{
	color:#FFFFFF;
}

.theme-footer-top p.pb-dropcap>span.pb-dropcap-first-letter
{
	background-color:#3B444E;
}

.pb-feature ul>li>div>.pb-feature-icon
{
	background-color:#15A346;
}

.pb-feature .pb-slider-pagination a
{
	background-color:#15A346;
}

.pb-feature .pb-slider-pagination a:hover,
.pb-feature .pb-slider-pagination a.active,
.pb-feature .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

div.theme-footer-top .pb-feature ul>li>div>.pb-feature-icon
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-feature .pb-slider-pagination a
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-feature .pb-slider-pagination a:hover,
div.theme-footer-top .pb-feature .pb-slider-pagination a.active,
div.theme-footer-top .pb-feature .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

.pb-gallery>ul>li>div.pb-gallery-text-box,
.wp-caption
{
	color:#FFFFFF;
}

.pb-gallery>ul>li:hover>div.pb-gallery-text-box,
.wp-caption:hover
{
	color:#FFFFFF;
}

.pb-gallery>ul>li>div.pb-gallery-text-box,
.wp-caption
{
	background-color:#15A346;
}

.pb-gallery>ul>li:hover>div.pb-gallery-text-box,
.wp-caption:hover
{
	background-color:#484C54;
}

div.theme-footer-top .pb-gallery>ul>li>div.pb-gallery-text-box
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-gallery>ul>li:hover>div.pb-gallery-text-box
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-gallery>ul>li>div.pb-gallery-text-box
{
	background-color:#15A346;
}

div.theme-footer-top .pb-gallery>ul>li:hover>div.pb-gallery-text-box
{
	background-color:#484C54;
}

h1,
h1 a
{
	color:#484C54;
}

h2,
h2 a
{
	color:#484C54;
}

h3,
h3 a
{
	color:#484C54;
}

h4,
h4 a
{
	color:#484C54;
}

h5,
h5 a
{
	color:#484C54;
}

h6,
h6 a
{
	color:#484C54;
}

.pb-header .pb-header-underline,
h3.comment-reply-title .pb-header-underline
{
	background-color:#15A346;
}

div.theme-footer-top h1,
div.theme-footer-top h1 a
{
	color:#FFFFFF;
}

div.theme-footer-top h2,
div.theme-footer-top h2 a
{
	color:#FFFFFF;
}

div.theme-footer-top h3,
div.theme-footer-top h3 a
{
	color:#FFFFFF;
}

div.theme-footer-top h4,
div.theme-footer-top h4 a
{
	color:#FFFFFF;
}

div.theme-footer-top h5,
div.theme-footer-top h5 a
{
	color:#FFFFFF;
}

div.theme-footer-top h6,
div.theme-footer-top h6 a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-header .pb-header-underline
{
	background-color:#15A346;
}

.pb-header-subheader .pb-subheader span
{
	color:#B0B0B0;
}

.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>span,
.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main>a>span
{
	border-color:#FFFFFF;
}

.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main span.pb-image-carousel-box-header
{
	color:#FFFFFF;
}

.pb-image-carousel>.caroufredsel_wrapper>ul>li>div>div.pb-image-carousel-box>.pb-main span.pb-image-carousel-box-subheader
{
	color:#FFFFFF;
}

.pb-image-carousel .pb-slider-pagination a
{
	background-color:#FFFFFF;
}

.pb-image-carousel .pb-slider-pagination a:hover,
.pb-image-carousel .pb-slider-pagination a.active,
.pb-image-carousel .pb-slider-pagination a.selected
{
	background-color:#FFFFFF;
}

.pb-text-italic p
{
	color:#B0B0B0;
}

.pb-menu-logo
{
	background-color:#15A346;
}

.pb-menu-logo .pb-menu>ul>li.current-menu-item>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-ancestor>a,
.pb-menu-logo .pb-menu>ul>li.current-page-ancestor>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-item:hover>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-ancestor:hover>a,
.pb-menu-logo .pb-menu>ul>li.current-page-ancestor:hover>a,
.pb-menu-logo .pb-menu .pb-menu-selected
{
	background-color:#139641;
}

.pb-menu-logo .pb-menu>ul>li>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li:hover>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu>ul>li.current-menu-item>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-ancestor>a,
.pb-menu-logo .pb-menu>ul>li.current-page-ancestor>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-item:hover>a,
.pb-menu-logo .pb-menu>ul>li.current-menu-ancestor:hover>a,
.pb-menu-logo .pb-menu>ul>li.current-page-ancestor:hover>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a>span,
.pb-menu-logo .pb-menu.pb-menu-hover-first-level>ul>li>a:hover>span
{
	color:#139641;
}

.pb-menu-logo .pb-menu>ul>li ul>li>a
{
	background-color:#139641;
}

.pb-menu-logo .pb-menu.pb-menu-hover-next-level>ul>li ul>li:hover>a
{
	background-color:#107E36;
}

.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-item>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-ancestor>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-page-ancestor>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-item:hover>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-ancestor:hover>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-page-ancestor:hover>a
{
	background-color:#107E36;
}

.pb-menu-logo .pb-menu>ul>li ul>li>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu.pb-menu-hover-next-level>ul>li ul>li:hover>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-item>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-ancestor>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-page-ancestor>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-item:hover>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-menu-ancestor:hover>a,
.pb-menu-logo .pb-menu>ul>li ul>li.current-page-ancestor:hover>a
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu-responsive select
{
	color:#FFFFFF;
}

.pb-menu-logo .pb-menu-responsive select
{
	border-color:#FFFFFF;
	border-width:2px;
	border-style:solid;
}

.pb-menu-logo .pb-menu-responsive select
{
	background-color:#15A346;
}

.pb-nivo-slider .pb-slider-pagination a
{
	background-color:#FFFFFF;
}

.pb-nivo-slider .pb-slider-pagination a:hover,
.pb-nivo-slider .pb-slider-pagination a.active
{
	background-color:#FFFFFF;
}

.pb-notice>.pb-notice-content
{
	background-color:#FFFFFF;
}

.pb-notice>.pb-notice-content
{
	border-top-color:#E8E8E8;
}

.pb-notice>.pb-notice-content
{
	border-right-color:#E8E8E8;
}

.pb-notice>.pb-notice-content
{
	border-bottom-color:#E8E8E8;
}

.pb-notice>.pb-notice-content
{
	border-left-color:#E8E8E8;
}

.pb-notice
{
	background-color:#15A346;
}

.pb-notice>.pb-notice-content>.pb-notice-timeline>div
{
	background-color:#E8E8E8;
}

.pb-notice>.pb-notice-content .pb-notice-close-button
{
	color:#CCCCCC;
}

.pb-preformatted-text,
.page-gutenberg-block .wp-block-verse,
.page-gutenberg-block .wp-block-preformatted
{
	border-color:#E8E8E8;
	border-width:2px;
	border-style:solid;
}

.pb-preformatted-text a
{
	color:#888888;
}

.pb-preformatted-text a:hover
{
	color:#888888;
}

.pb-preformatted-text pre,
.page-gutenberg-block .wp-block-verse,
.page-gutenberg-block .wp-block-preformatted
{
	color:#999999;
}

.pb-recent-post>ul>li div.pb-recent-post-image .pb-recent-post-comment-count>span.pb-recent-post-comment-count-value
{
	background-color:#15A346;
}
.pb-recent-post>ul>li div.pb-recent-post-image .pb-recent-post-comment-count>span.pb-recent-post-comment-count-arrow { border-top-color:#15A346; }
.pb-recent-post>ul>li div.pb-recent-post-image .pb-recent-post-comment-count>span.pb-recent-post-comment-count-value
{
	color:#FFFFFF;
}

.pb-recent-post>ul>li>div>div.pb-recent-post-meta>div
{
	color:#B0B0B0;
}

.pb-recent-post>ul>li>div>div.pb-recent-post-meta>div a
{
	color:#B0B0B0;
}

.pb-recent-post>ul>li>div>div.pb-recent-post-meta>div a:hover
{
	color:#484C54;
}

.pb-recent-post>ul>li>div>div.pb-recent-post-meta
{
	border-color:#E8E8E8;
}

.theme-post .theme-post-sticky-box
{
	background-color:#3B444E;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default,
.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default a
{
	color:#777777;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default
{
	border-color:#E8E8E8;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover,
.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover a
{
	color:#484C54;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover
{
	border-color:#15A346;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active,
.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active a
{
	color:#FFFFFF;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active
{
	border-color:#15A346;
}

.pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active
{
	background-color:#15A346;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default,
div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default a
{
	color:#B9BDC2;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-default
{
	border-color:#3B444E;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover,
div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-hover
{
	border-color:#15A346;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active,
div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active a
{
	color:#FFFFFF;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active
{
	border-color:#15A346;
}

div.theme-footer-top .pb-tab.ui-tabs>.ui-tabs-nav .ui-state-active
{
	background-color:#15A346;
}

.pb-team>ul>li .pb-team-image-box .pb-team-image-caption
{
	color:#FFFFFF;
}

.pb-team>ul>li .pb-team-image-box:hover .pb-team-image-caption
{
	color:#FFFFFF;
}

.pb-team>ul>li .pb-team-image-box .pb-team-image-caption
{
	background-color:#15A346;
}

.pb-team>ul>li .pb-team-image-box:hover .pb-team-image-caption
{
	background-color:#2C343D;
}

.pb-team>ul>li ul.pb-team-social-icon-box>li>a
{
	background-color:#15A346;
}

.pb-team>ul>li ul.pb-team-social-icon-box>li>a:hover
{
	background-color:#2C343D;
}

.pb-team>ul>li .pb-team-text-box>div.pb-team-text-box-member-position
{
	color:#B0B0B0;
}

.pb-team>ul>li .pb-team-skill .pb-team-progress-bar>.pb-team-progress-bar-foreground
{
	background-color:#15A346;
}

.pb-team>ul>li .pb-team-skill .pb-team-progress-bar>.pb-team-progress-bar-background
{
	background-color:#F2F2F2;
}

.pb-team>ul>li
{
	border-color:#E8E8E8;
	border-style:solid;
	border-top-width:1px;
}

.pb-testimonial .pb-slider-pagination a
{
	background-color:#15A346;
}

.pb-testimonial .pb-slider-pagination a:hover,
.pb-testimonial .pb-slider-pagination a.active,
.pb-testimonial .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

div.theme-footer-top .pb-testimonial .pb-slider-pagination a
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-testimonial .pb-slider-pagination a:hover,
div.theme-footer-top .pb-testimonial .pb-slider-pagination a.active,
div.theme-footer-top .pb-testimonial .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

.pb-twitter-user-timeline .pb-slider-pagination a
{
	background-color:#15A346;
}

.pb-twitter-user-timeline .pb-slider-pagination a:hover,
.pb-twitter-user-timeline .pb-slider-pagination a.active,
.pb-twitter-user-timeline .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

div.theme-footer-top .pb-twitter-user-timeline .pb-slider-pagination a
{
	background-color:#3B444E;
}

div.theme-footer-top .pb-twitter-user-timeline .pb-slider-pagination a:hover,
div.theme-footer-top .pb-twitter-user-timeline .pb-slider-pagination a.active,
div.theme-footer-top .pb-twitter-user-timeline .pb-slider-pagination a.selected
{
	background-color:#15A346;
}

.widget_archive>ul>li
{
	border-color:#E8E8E8;
	border-style:solid;
	border-bottom-width:1px;
	padding-bottom:8px;
	padding-top:7px;
}

div.theme-footer-top .widget_archive>ul>li
{
	border-color:#3B444E;
	border-style:solid;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding-bottom:8px;
	padding-top:7px;
}

.widget_categories ul li a
{
	color:#777777;
}

.widget_categories ul li a
{
	border-color:#E8E8E8;
}

.widget_categories ul li a:hover
{
	color:#484C54;
}

.widget_categories ul li a:hover
{
	border-color:#15A346;
}

.widget_categories ul li.current-cat a
{
	color:#FFFFFF;
}

.widget_categories ul li.current-cat a
{
	border-color:#15A346;
}

.widget_categories ul li.current-cat a
{
	background-color:#15A346;
}

.theme-footer-top .widget_categories ul li a
{
	color:#B9BDC2;
}

.theme-footer-top .widget_categories ul li a
{
	border-color:#3B444E;
}

.theme-footer-top .widget_categories ul li a:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_categories ul li a:hover
{
	border-color:#15A346;
}

.theme-footer-top .widget_categories ul li.current-cat a
{
	color:#FFFFFF;
}

.theme-footer-top .widget_categories ul li.current-cat a
{
	border-color:#15A346;
}

.theme-footer-top .widget_categories ul li.current-cat a
{
	background-color:#15A346;
}

.widget_calendar table thead th
{
	border-color:#FFFFFF;
}

.widget_calendar table thead th
{
	background-color:#E8E8E8;
}

.widget_calendar table tbody td
{
	border-color:#E8E8E8;
}

.widget_calendar table tbody td,
.widget_calendar table tbody td a
{
	background-color:#FFFFFF;
}

.widget_calendar table tbody td a:hover
{
	color:#FFFFFF;
}

.widget_calendar table tbody td a:hover
{
	background-color:#15A346;
}

.theme-footer-top .widget_calendar table thead th
{
	border-color:#3B444E;
}

.theme-footer-top .widget_calendar table thead th
{
	background-color:#3B444E;
}

.theme-footer-top .widget_calendar table tbody td
{
	border-color:#3B444E;
}

.theme-footer-top .widget_calendar table tbody td,
.theme-footer-top .widget_calendar table tbody td a
{
	background-color:#2C343D;
}

.theme-footer-top .widget_calendar table tbody td a:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_calendar table tbody td a:hover
{
	background-color:#15A346;
}

.widget_nav_menu ul li a
{
	border-color:#E8E8E8;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li.current_page_item>a,
.widget_nav_menu ul li.current-menu-item>a,
.widget_nav_menu ul li.current-menu-ancestor>a
{
	color:#FFFFFF;
}

.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li.current_page_item>a,
.widget_nav_menu ul li.current-menu-item>a,
.widget_nav_menu ul li.current-menu-ancestor>a
{
	background-color:#15A346;
}

.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li.current_page_item>a,
.widget_nav_menu ul li.current-menu-item>a,
.widget_nav_menu ul li.current-menu-ancestor>a
{
	border-color:#15A346;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

div.theme-footer-top .widget_nav_menu ul li a
{
	border-color:#3B444E;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

div.theme-footer-top .widget_nav_menu ul li a:hover,
div.theme-footer-top .widget_nav_menu ul li.current_page_item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-ancestor>a
{
	color:#FFFFFF;
}

div.theme-footer-top .widget_nav_menu ul li a:hover,
div.theme-footer-top .widget_nav_menu ul li.current_page_item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-ancestor>a
{
	background-color:#15A346;
}

div.theme-footer-top .widget_nav_menu ul li a:hover,
div.theme-footer-top .widget_nav_menu ul li.current_page_item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-item>a,
div.theme-footer-top .widget_nav_menu ul li.current-menu-ancestor>a
{
	border-color:#15A346;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.widget_recent_comments>ul>li>a
{
	color:#484C54;
}

.widget_recent_comments>ul>li>span
{
	color:#FFFFFF;
}

.widget_recent_comments>ul>li>span
{
	background-color:#15A346;
}

.theme-footer-top .widget_recent_comments>ul>li>a
{
	color:#FFFFFF;
}

.theme-footer-top .widget_recent_comments>ul>li>span
{
	color:#FFFFFF;
}

.theme-footer-top .widget_recent_comments>ul>li>span
{
	background-color:#3B444E;
}

.widget_recent_entries>ul>li>span.post-date
{
	color:#FFFFFF;
}

.widget_recent_entries>ul>li>span.post-date
{
	background-color:#15A346;
}

.theme-footer-top .widget_recent_entries>ul>li>a
{
	color:#FFFFFF;
}

.theme-footer-top .widget_recent_entries>ul>li>span.post-date
{
	color:#FFFFFF;
}

.theme-footer-top .widget_recent_entries>ul>li>span.post-date
{
	background-color:#3B444E;
}

.widget_rss>ul>li>span.rss-date
{
	color:#FFFFFF;
}

.widget_rss>ul>li>span.rss-date
{
	background-color:#15A346;
}

.widget_rss>ul>li>div.rssSummary
{
	color:#999999;
}

.widget_rss>ul>li>cite
{
	color:#FFFFFF;
}

.widget_rss>ul>li>cite
{
	background-color:#15A346;
}

.theme-footer-top .widget_rss>ul>li>span.rss-date
{
	color:#FFFFFF;
}

.theme-footer-top .widget_rss>ul>li>span.rss-date
{
	background-color:#3B444E;
}

.theme-footer-top .widget_rss>ul>li>div.rssSummary
{
	color:#B9BDC2;
}

.theme-footer-top .widget_rss>ul>li>cite
{
	color:#FFFFFF;
}

.theme-footer-top .widget_rss>ul>li>cite
{
	background-color:#3B444E;
}

.widget_search input[type="text"]
{
	border-color:#E8E8E8;
}

.widget_search input[type="submit"]
{
	color:#777777;
}

.widget_search input[type="submit"]
{
	border-color:#E8E8E8;
	border-width:2px;
	border-style:solid;
}

.widget_search input[type="submit"]
{
	background-color:#FFFFFF;
}

.widget_search input[type="submit"]:hover
{
	color:#484C54;
}

.widget_search input[type="submit"]:hover
{
	border-color:#15A346;
}

.widget_search input[type="submit"]:hover
{
	background-color:#FFFFFF;
}

.theme-footer-top .widget_search input[type="text"]
{
	color:#B9BDC2;
}

.theme-footer-top .widget_search input[type="text"]
{
	border-color:#3B444E;
	border-width:2px;
	border-style:solid;
}

.theme-footer-top .widget_search input[type="text"]
{
	background-color:#2C343D;
}

.theme-footer-top .widget_search input[type="text"]:focus
{
	color:#FFFFFF;
}

.theme-footer-top .widget_search input[type="text"]:focus
{
	border-color:#15A346;
}

.theme-footer-top .widget_search input[type="text"]:focus
{
	background-color:#2C343D;
}

.theme-footer-top .widget_search input[type="submit"]
{
	color:#B9BDC2;
}

.theme-footer-top .widget_search input[type="submit"]
{
	border-color:#3B444E;
}

.theme-footer-top .widget_search input[type="submit"]
{
	background-color:#3B444E;
}

.theme-footer-top .widget_search input[type="submit"]:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_search input[type="submit"]:hover
{
	border-color:#15A346;
}

.theme-footer-top .widget_search input[type="submit"]:hover
{
	background-color:#15A346;
}

.widget_tag_cloud a
{
	color:#777777;
}

.widget_tag_cloud a
{
	border-color:#E8E8E8;
}

.widget_tag_cloud a:hover
{
	color:#484C54;
}

.widget_tag_cloud a:hover
{
	border-color:#15A346;
}

.theme-footer-top .widget_tag_cloud a
{
	color:#B9BDC2;
}

.theme-footer-top .widget_tag_cloud a
{
	border-color:#3B444E;
}

.theme-footer-top .widget_tag_cloud a:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_tag_cloud a:hover
{
	border-color:#15A346;
}

.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date
{
	color:#FFFFFF;
}

.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date
{
	background-color:#15A346;
}

.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta
{
	color:#B0B0B0;
}

.widget_theme_widget_post_most_comment .theme-carousel-pagination-prev,
.widget_theme_widget_post_most_comment .theme-carousel-pagination-next
{
	border-color:#E8E8E8;
	border-style:solid;
	border-width:2px;
}

.widget_theme_widget_post_most_comment .theme-carousel-pagination-prev:hover,
.widget_theme_widget_post_most_comment .theme-carousel-pagination-next:hover
{
	border-color:#15A346;
	border-style:solid;
	border-width:2px;
}

.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date
{
	background-color:#3B444E;
}

.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>a
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>a:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta
{
	color:#B9BDC2;
}

.theme-footer-top .widget_theme_widget_post_most_comment .theme-carousel-pagination-prev,
.theme-footer-top .widget_theme_widget_post_most_comment .theme-carousel-pagination-next
{
	border-color:#3B444E;
	border-style:solid;
	border-width:2px;
}

.theme-footer-top .widget_theme_widget_post_most_comment .theme-carousel-pagination-prev:hover,
.theme-footer-top .widget_theme_widget_post_most_comment .theme-carousel-pagination-next:hover
{
	border-color:#15A346;
	border-style:solid;
	border-width:2px;
}

.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date
{
	color:#FFFFFF;
}

.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date
{
	background-color:#15A346;
}

.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta
{
	color:#B0B0B0;
}

.widget_theme_widget_post_recent .theme-carousel-pagination-prev,
.widget_theme_widget_post_recent .theme-carousel-pagination-next
{
	border-color:#E8E8E8;
	border-style:solid;
	border-width:2px;
}

.widget_theme_widget_post_recent .theme-carousel-pagination-prev:hover,
.widget_theme_widget_post_recent .theme-carousel-pagination-next:hover
{
	border-color:#15A346;
	border-style:solid;
	border-width:2px;
}

.theme-footer-top .widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date
{
	background-color:#3B444E;
}

.theme-footer-top .widget_theme_widget_post_recent>div ul>li>a
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_recent>div ul>li>a:hover
{
	color:#FFFFFF;
}

.theme-footer-top .widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta
{
	color:#B9BDC2;
}

.theme-footer-top .widget_theme_widget_post_recent .theme-carousel-pagination-prev,
.theme-footer-top .widget_theme_widget_post_recent .theme-carousel-pagination-next
{
	border-color:#3B444E;
	border-style:solid;
	border-width:2px;
}

.theme-footer-top .widget_theme_widget_post_recent .theme-carousel-pagination-prev:hover,
.theme-footer-top .widget_theme_widget_post_recent .theme-carousel-pagination-next:hover
{
	border-color:#15A346;
	border-style:solid;
	border-width:2px;
}
