/******************************************************************************/
/* Widget																	  */
/******************************************************************************/

.theme-widget
{
	margin-top:30px;
}

.theme-widget:first-child
{
	margin-top:0px;
}

	.theme-widget>h5
	{
		
	}
	
.theme-footer-top .theme-widget
{
	margin-top:0px;
	margin-bottom:30px;
}

/******************************************************************************/
/* Widget: Meta																  */
/* Widget: Pages															  */
/* Widget: Archive															  */
/******************************************************************************/

.widget_meta>ul,
.widget_pages>ul,
.widget_archive>ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.widget_pages>ul ul.children
{
	margin-left:0px;
}

	.widget_meta>ul>li,
	.widget_pages>ul>li,
	.widget_archive>ul>li
	{
		padding-left:25px;
		box-sizing:border-box;
		background-repeat:no-repeat;
		background-position:6px left;
		background-image:url('../media/image/public/icon_bullet/default/bullet_1.png');			
	}
	
	.widget_archive>ul>li
	{
		height:100%;
		overflow:hidden;
		background-position:center left;
	}
	
	.theme-footer-top .widget_meta>ul>li,
	.theme-footer-top .widget_pages>ul>li,
	.theme-footer-top .widget_archive>ul>li
	{
		background-image:url('../media/image/public/icon_bullet/footer/bullet_1.png');	
	}

	.widget_archive>ul>li
	{
		text-align:right;
	}
	
		.widget_archive>ul>li>a
		{
			float:left;
		}
	
	.theme-footer-top .widget_archive>ul>li
	{
		width:100%;
		float:none;
	}
	
		.widget_meta>ul>li a,
		.widget_pages>ul>li a,
		.widget_archive>ul>li a
		{
			text-decoration:none;
		}
		
		.widget_meta>ul>li a:hover,
		.widget_pages>ul>li a:hover,
		.widget_archive>ul>li a:hover
		{
			text-decoration:underline;
		}

/******************************************************************************/
/* Widget: Categories														  */
/******************************************************************************/

.widget_categories ul
{
	float:left;
	margin:0px;
	padding:0px;
	list-style-type:none;
}

	.widget_categories ul li
	{
		float:left;
		padding:0px;
		background:none !important;
	}
	
		.widget_categories ul li a
		{
			float:left;
			display:block;
			font-size:12px;
			font-weight:600;
			border-width:2px;
			border-style:solid;		
			margin-right:10px;
			margin-bottom:10px;
			text-decoration:none;
			text-transform:uppercase;
			padding:8px 12px 8px 12px;
		}
		
/******************************************************************************/
/* Widget: Tags																  */
/******************************************************************************/

.widget_tag_cloud a
{
	float:left;
	display:block;
	font-weight:500;
	border-width:2px;
	border-style:solid;		
	margin-right:10px;
	margin-bottom:10px;
	text-decoration:none;
	text-transform:uppercase;
	padding:8px 12px 8px 12px;
}

/******************************************************************************/
/* Widget: Recent comments													  */
/******************************************************************************/
		
.widget_recent_comments 
{
	display:none;
}

	.widget_recent_comments>ul
	{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
		.widget_recent_comments>ul>li
		{
			padding:0px;
			margin-top:15px;
			background:none !important;
		}
		
		.widget_recent_comments>ul>li:first-child
		{
			margin-top:0px;
		}
		
		.widget_recent_comments>ul>li>span
		{
			font-size:12px;
			margin-right:5px;
			white-space:nowrap;
			display:inline-block;
			text-transform:uppercase;
			padding:2px 5px 2px 15px;
			background-repeat:no-repeat;
			background-position:5px center;
			background-image:url('../media/image/public/icon_post_author_white.png');			
		}
		
		.theme-footer-top .widget_recent_comments>ul>li>span
		{
			background-image:url('../media/image/public/icon_post_author_white_footer.png');
		}
		
		.widget_recent_comments>ul>li>a
		{
			text-decoration:none;
		}
		
		.widget_recent_comments>ul>li>a:hover
		{
			text-decoration:underline;
		}

/******************************************************************************/
/* Widget: Recent posts														  */
/******************************************************************************/

.widget_recent_entries
{
	
}

	.widget_recent_entries>ul
	{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
		.widget_recent_entries>ul>li
		{
			padding:0px;
			margin-top:15px;
			background:none !important;
		}
		
		.widget_recent_entries>ul>li:first-child
		{
			margin-top:0px;
		}
	
			.widget_recent_entries>ul>li>a
			{
				display:block;
				text-decoration:none;
			}
			
			.widget_recent_entries>ul>li>a:hover
			{
				text-decoration:underline;
			}
			
			.widget_recent_entries>ul>li>span.post-date
			{
				clear:both;
				font-size:14px;
				white-space:nowrap;
				display:inline-block;
				padding:2px 5px 2px 25px;
				background-repeat:no-repeat;
				background-position:5px center;
				background-image:url('../media/image/public/icon_post_date_white.png');
			}
			
			.theme-footer-top .widget_recent_entries>ul>li>span.post-date
			{
				background-image:url('../media/image/public/icon_post_date_white_footer.png');
			}
			
/******************************************************************************/
/* Widget: RSS																  */
/******************************************************************************/

.widget_rss
{
	
}

	.widget_rss a
	{
		text-decoration:none;
	}
	
	.widget_rss a img
	{
		display:none;
	}
	
	/**************************************************************************/
	/* Widget: RSS / List													  */
	/**************************************************************************/
	
	.widget_rss>ul
	{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
		/**********************************************************************/
		/* Widget: RSS / List item											  */
		/**********************************************************************/
	
		.widget_rss>ul>li
		{
			padding:0px;
			margin-bottom:20px;
			background:none !important;
		}
		
			/******************************************************************/
			/* Widget: RSS / List item	/ Header							  */
			/******************************************************************/
		
			.widget_rss>ul>li>a
			{
			
			}
		
			.widget_rss>ul>li>a:hover
			{
				text-decoration:underline;
			}
			
			/******************************************************************/
			/* Widget: RSS / List item	/ Date								  */
			/* Widget: RSS / List item	/ Author							  */
			/******************************************************************/

			.widget_rss>ul>li>cite,
			.widget_rss>ul>li>span.rss-date
			{
				white-space:nowrap;
				display:inline-block;
				padding:2px 5px 2px 20px;
				background-repeat:no-repeat;
				background-position:5px center;
			}
			
			/******************************************************************/
			/* Widget: RSS / List item	/ Date								  */
			/******************************************************************/
			
			.widget_rss>ul>li>span.rss-date
			{
				font-size:14px;
				background-image:url('../media/image/public/icon_post_date_white.png');	
			}

			.theme-footer-top .widget_rss>ul>li>span.rss-date
			{
				background-image:url('../media/image/public/icon_post_date_white_footer.png');
			}			
			
			/******************************************************************/
			/* Widget: RSS / List item	/ Content							  */
			/******************************************************************/
			
			.widget_rss>ul>li>div.rssSummary
			{
				font-size:14px;
			}

			/******************************************************************/
			/* Widget: RSS / List item	/ Author							  */
			/******************************************************************/

			.widget_rss>ul>li>cite
			{
				font-size:12px;
				font-style:normal;
				padding-left:15px;
				text-transform:uppercase;
			}	

			.widget_rss>ul>li>cite
			{
				background-image:url('../media/image/public/icon_post_author_white.png');	
			}

			.theme-footer-top .widget_rss>ul>li>cite
			{
				background-image:url('../media/image/public/icon_post_author_white_footer.png');
			}
			
/******************************************************************************/
/* Widget: Custom menu														  */
/******************************************************************************/			
			
.widget_nav_menu
{
	
}

	.widget_nav_menu ul
	{
		margin:0px;
		padding:0px;
		list-style-type:none;
	}
	
		.widget_nav_menu ul.sub-menu
		{
			display:none;
		}
	
		.widget_nav_menu ul li 
		{
			padding:0px;
			background:none !important;			
		}
	
			.widget_nav_menu ul li a
			{
				display:block;
				text-decoration:none;
				padding:15px 15px 15px 30px;
				background-repeat:no-repeat;
				background-position:15px center;
				background-image:url('../media/image/public/menu_widget_default_bullet.png');
			}

			.widget_nav_menu ul li a:hover,
			.widget_nav_menu ul li.current_page_item>a,
			.widget_nav_menu ul li.current-menu-item>a,
			.widget_nav_menu ul li.current-menu-ancestor>a
			{
				background-image:url('../media/image/public/menu_widget_default_bullet_hover.png');
			}
			
			.theme-footer-top .widget_nav_menu ul li a,
			.theme-footer-top .widget_nav_menu ul li.current-menu-ancestor>a
			{
				background-image:url('../media/image/public/menu_widget_footer_bullet.png');
			}
			
			.theme-footer-top .widget_nav_menu ul li a:hover,
			.theme-footer-top .widget_nav_menu ul li.current_page_item>a,
			.theme-footer-top .widget_nav_menu ul li.current-menu-item>a,
			.theme-footer-top .widget_nav_menu ul li.current-menu-ancestor>a
			{
				background-image:url('../media/image/public/menu_widget_footer_bullet_hover.png');
			}
	
	.widget_nav_menu .sub-menu
	{
		margin-left:20px;
	}
	
/******************************************************************************/
/* Widget: Calendar															  */
/******************************************************************************/
	
.widget_calendar
{
	
}

	.widget_calendar table
	{
		width:100%;
		position:relative;
		table-layout:auto;
		border-collapse:collapse;
	}
		
		.widget_calendar table td.pad
		{
			border:none;
		}
		
		.widget_calendar table a,
		.widget_calendar table a:hover
		{
			display:block;
			text-decoration:none;
		}
		
		.widget_calendar table tfoot,
		.widget_calendar table tfoot a,
		.widget_calendar table caption
		{
			font-size:15px;
			text-transform:uppercase;
		}
		
		.widget_calendar table thead th,
		.widget_calendar table tbody td
		{
			line-height:200%;
			border-width:1px;
			border-style:solid;
			text-align:center;
		}
		
		.widget_calendar table thead
		{
			
		}
		
			.widget_calendar table thead th
			{
				font-weight:normal;
				text-transform:lowercase;
			}
	
		.widget_calendar table tbody
		{
			
		}
	
			.widget_calendar table tbody td
			{

			}
			
			.widget_calendar table tbody td,
			.widget_calendar table tbody td a
			{
				line-height:200%;
			}
			
				.widget_calendar table tbody td a
				{
					font-weight:bold;
				}
		
		.widget_calendar table tfoot
		{
			top:0px;
			position:absolute;
		}	

/******************************************************************************/
/* Widget: Search															  */
/******************************************************************************/

.widget_search
{
	position:relative;
}

	.widget_search label
	{
		padding:10px;
		position:absolute;
	}

	.widget_search input[type="text"]
	{
		width:100%;
		border-width:1px;
		border-style:solid;		
	}

	.widget_search input[type="submit"]
	{
		width:100px;
		float:right;
		margin-top:10px;
	}
	
/******************************************************************************/
/* Widget: Recent posts														  */
/* Widget: Most commented													  */
/******************************************************************************/

.widget_theme_widget_post_recent,
.widget_theme_widget_post_most_comment
{
	position:relative;
}

.widget_theme_widget_post_recent div.caroufredsel_wrapper,
.widget_theme_widget_post_recent div.caroufredsel_wrapper ul
{
	width:100% !important;
}

	.widget_theme_widget_post_recent>div,
	.widget_theme_widget_post_most_comment>div
	{

	}

		.widget_theme_widget_post_recent>div ul,
		.widget_theme_widget_post_most_comment>div ul
		{

		}

			.widget_theme_widget_post_recent>div ul>li,
			.widget_theme_widget_post_most_comment>div ul>li
			{
				margin-bottom:20px;
			}

				.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date,
				.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date
				{
					float:left;
					width:50px;
					margin-top:4px;
					text-align:center;
					padding:6px 0px 8px 0px;
				}

					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date span,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date span
					{
						display:block;
						line-height:1;
						font-size:20px;
					}
					
					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-date span+span,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-date span+span
					{
						font-size:14px;
						margin-top:2px;
						text-transform:uppercase;
					}

				.widget_theme_widget_post_recent>div ul>li>a,
				.widget_theme_widget_post_most_comment>div ul>li>a,
				.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta,
				.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta
				{
					display:block;
				}
				
				.widget_theme_widget_post_recent>div.widget-theme-widget-post-most-recent-date-box-enable-1 ul>li>a,
				.widget_theme_widget_post_most_comment>div.widget-theme-widget-post-most-comment-date-box-enable-1 ul>li>a,
				.widget_theme_widget_post_recent>div.widget-theme-widget-post-most-recent-date-box-enable-1 ul>li>div.theme-widget-post-meta,
				.widget_theme_widget_post_most_comment>div.widget-theme-widget-post-most-comment-date-box-enable-1 ul>li>div.theme-widget-post-meta
				{
					margin-left:70px;
				}
					
				.widget_theme_widget_post_recent>div ul>li>a,
				.widget_theme_widget_post_most_comment>div ul>li>a
				{
					text-decoration:none;
				}
				
				.widget_theme_widget_post_recent>div ul>li>a:hover,
				.widget_theme_widget_post_most_comment>div ul>li>a:hover
				{
					text-decoration:underline;
				}

				.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta,
				.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta
				{
					padding-top:10px;
					padding-bottom:5px;
				}
				
					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date,
					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count
					{
						float:left;
						font-size:14px;
						margin-bottom:5px;
						padding-left:18px;
						background-repeat:no-repeat;
						background-position:center left;
					}

					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date
					{
						margin-right:14px;
						background-image:url('../media/image/public/icon_post_date.png');
					}
					
					.theme-footer-top .widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date,
					.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-date
					{
						margin-right:14px;
						background-image:url('../media/image/public/icon_post_date_footer.png');
					}

					.widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count,
					.widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count
					{
						background-image:url('../media/image/public/icon_post_comments.png');
					}
					
					.theme-footer-top .widget_theme_widget_post_recent>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count,
					.theme-footer-top .widget_theme_widget_post_most_comment>div ul>li>div.theme-widget-post-meta>div.theme-widget-post-meta-comment-count
					{
						background-image:url('../media/image/public/icon_post_comments_footer.png');
					}